openapi: 3.0.3
info:
  title: MS - SPINE MOCK
  description: This a sample MS SPINE Server based on the OpenAPI 3.0 specification.
    You can explore the paths for Customers API and check the request and response
    of all services.
  termsOfService: https://swagger.io/terms/
  contact:
    email: cramosmon@minsait.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: '1.0'
externalDocs:
  description: Find out more about Swagger
  url: https://swagger.io
servers:
- url: https://develop-api.actinver.com.mx
tags:
- name: catalogs
  description: API for Catalogs SPINE
paths:
  /person/onboarding/prospects/checkpoint:
    post:
      summary: Create or update checkpoint
      description: Saves the information of a specific tab in the onboarding process
      tags:
      - checkpoint
      operationId: createOrUpdateCheckpoint
      parameters:
      - in: header
        name: Content-Type
        schema:
          type: string
          example: application/json
        required: true
      - in: header
        name: Authorization
        schema:
          type: string
          example: BEARER EYJHBGCIOIJIUZI1NIISINR5CCI6IKPXVCJ9.EYJZDWIIOIIXMJM0NTY3ODKWIIWIBMFTZSI6IKPVAG4GRG9LIIWIAWF0IJOXNTE2MJM5MDIYFQ.SFLKXWRJSMEKKF2QT4FWPMEJF36POK6YJV_ADQSSW5C
        required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/checkpointRequest'
            examples:
              identification:
                value:
                  clientId: 1234
                  sectionId: identification-contact
                  data:
                    identifications:
                    - country: MX
                      identificationType: '1'
                      identificationNumber: ABC1234567
                      expirationDate: 31/12/2028
                  manifestLetter: false
                  telephones:
                  - type: '1'
                    country: MX
                    areaCode: '+52'
                    phone: '55551234'
                    extension: '123'
                    notificationPhone: true
                  emails:
                  - emailAddress: JUAN.PEREZ@CORREO.COM
                    notificationEmail: true
              initial-data:
                value:
                  clientId: 1234
                  sectionId: initial-data
                  data:
                    curp: GOCJ900520HDFRRN04
                    foreignerWithoutCurp: false
                    rfc: GODE561231GR8
                    nif: ASDASFASD12
                    tin: 999-99-9999
                    nss: 12-34-56-7890-1
                    firstName: JUAN
                    middleName: CARLOS
                    firstLastName: GÓMEZ
                    secondLastName: DÍAZ
                    dateOfBirth: 20/05/1990
                    gender: 1
                    nationality: MX
                    countryOfBirth: MX
                    stateOfBirth: CHS
                    cityOfBirth: '1214005'
                    ppe: false
                    bankAreaTypeId: '1'
                    contraTypeId: '1'
                    typeContractSubtypeId: '1'
              general-information:
                value:
                  clientId: 1234
                  sectionId: general-information
                  data:
                    personClassification: EMPLEADO
                    economicActivity: '882'
                    maritalStatus: 1
                    marriageType: 1
                    sector: '01'
                    actinverEmployee: true
                    employeeNumber: '98765'
                    occupation: '1'
                    profession: INGENIERO EN SISTEMAS
                    companyName: TECNOLOGÍAS XYZ
                    jobTitle: DESARROLLADOR SR.
                    companyPhone: '5544332211'
                    country: MX
                    street: CALLE REFORMA
                    externalNumber: '123'
                    internalNumber: 2B
                    postalCode: '06500'
                    federalEntity: CHS
                    city: '1214005'
                    municipality: '001'
                    website: HTTPS://WWW.EJEMPLO.COM
                    related: true
                    relationship: 1
                    institutionName: BBVA
                    fiel: ABCD123456XYZ
                    fielExpirationDate: 31/12/2027
                    banxicoAuthorization: true
                    nonGuaranteedByIPAB: CLAVE IPAB
                    acting: true
                    hasSupplier: false
                    operatesChanges: false
                    addressType: '1'
                    neighborhood: '1'
              address:
                value:
                  clientId: 1234
                  sectionId: address
                  data:
                    addressList:
                    - addressType: '1'
                      addressRole: '1'
                      country: MX
                      postalCode: '06500'
                      street: AV. JUÁREZ
                      externalNumber: '10'
                      internalNumber: 3A
                      federalEntity: CHS
                      municipality: '001'
                      neighborhood: '1'
                      city: '1214005'
                      geographicalArea: centro sur
                      deliveryCenter: EJEMPLO
                      timeLiveMexico: un año 10 meses
                      proofOfAddressType: '1'
                      addressProofIssueDate: 01/08/2025
                      expirationYear: 2025
                      reasonsOpeningContractMexico: porque si
                      other: ''
                      taxPostalCode: '06500'
                      isAddressResidenceSameTax: false
              beneficiaries: #BENEFICIARIO
                value:
                  clientId: 1234
                  sectionId: beneficiaries
                  data:
                    beneficiaries:
                    - curp: PELM950315MDFLRR05
                      foreignWithoutCURP: false
                      rfc: PEL950315ABC
                      nif: ASDASFASD12
                      tin: 999-99-9999
                      nss: 12-34-56-7890-1
                      country: MX # pais de nacimiento
                      firstName: MARÍA
                      middleName: ELENA
                      firstLastName: PÉREZ
                      secondLastName: LÓPEZ
                      dateOfBirth: 15/03/1995 # fecha de nacimiento
                      gender: 1
                      relationship: 1
                      beneficiaryPercentage: 50%
                      maritalStatus: "12" # campo agregado por comentario en correo pero no esta contemplatdo en HU ni Figma
                      nationality: "124" # campo agregado por comentario en correo pero no esta contemplatdo en HU ni Figma
                      federalEntity: "12" # campo agregado por comentario en correo pero no esta contemplatdo en HU ni Figma
                      address:
                        addressType: '1'
                        country: MX
                        street: CALLE HIDALGO
                        externalNumber: '25'
                        internalNumber: '1'
                        postalCode: '06500'
                        federalEntity: CHS
                        municipality: '001'
                        neighborhood: '1'
                        city: '1214005'
              ppe-information:
                value:
                  clientId: 1234
                  sectionId: ppe-information
                  data:
                    ppeType: NACIONAL
                    positionHeld: EMPLEADO
                    expirationDate: 31/12/2026
                    isPpe: true
                    hasEconomicDependents: true
                    hasAssocioations: true
                    hasFamilyPpe: false
                    economicDependents:
                    - firstName: MARÍA
                      middleName: ELENA
                      firstLastName: PÉREZ
                      secondLastName: LÓPEZ
                      rfc: MXXX809732
                      curp: MXXX809732HDFRNM
                      dateOfBirth: 15/12/1980
                      addressType: '1'
                      other: ''
                      country: MX
                      street: CALLE HIDALGO
                      externalNumber: '25'
                      internalNumber: '1'
                      postalCode: '06500'
                      federalEntity: CHS
                      city: '1214005'
                      municipality: '001'
                      neighborhood: '1'
                      relationship: 1
                      nacionality: MX
                      phone: '5544554455'
                    associations:
                    - companyName: ABARRATES LA ESPERANZA
                      rfc: MXXX809732
                      commercialline: CONSULTORIA
                      economicActivity: '882'
                      administratorName: Carlos Perez Sanchez
                      nacionality: MX
                      addressType: '1'
                      other: ''
                      country: MX
                      street: CALLE HIDALGO
                      externalNumber: '25'
                      internalNumber: '1'
                      postalCode: '06500'
                      federalEntity: CHS
                      city: '1214005'
                      municipality: '001'
                      neighborhood: '1'
                      phone: '5544554455'
                    familyData:
                    - firstName: MARÍA
                      middleName: ELENA
                      firstLastName: PÉREZ
                      secondLastName: LÓPEZ
                      positionHeld: EMPLEADO
                      positionHeldEndDate: 23/08/2000
                      relationship: 1
                      nacionality: MX
                      rfc: MXXX809732
                      curp: MXXX809732HDFRNM
                      dateOfBirth: 15/12/1980
                      maritalStatus: 1
                      countryOfBirth: MX
                      federalEntity: CHS
                      city: '1214005'
              fiscal-self-declaration: # AUTO-CERTIFICACION Y DATOS FISCALES
                value:
                  clientId: 1234
                  sectionId: fiscal-self-declaration
                  data:
                    mexicoResident: true
                    curp: GOCJ900520HDFRRN04
                    foreignWithoutCURP: false
                    rfc: GODE561231GR8
                    name: JUAN DIAZ
                    fiscalRegimeId: 12
                    cfdiUse: D06
                    taxPostalCode: '566024'
                    nationality: MX
                    country: MX
                    fiscalResidenceAbroad: true
                    facta: true
                    crs: true
                    fiscalResidences:
                    - personType: 1
                      country: MX
                      declarationFiscalResidence: false
                      proofOfAddressType: '1'
                      issueDate: 02/09/2025
                      expirationStatus: STATUS
                      expirationDate: 02/09/2025
                      certificationDate: 02/09/2025
                      declarationYear: 2025
                      aditionalDays: 1-99
                      factaObligations:
                        autentication: ID FISCAL EXTRANJERO
                        nif: ASDASFASD12
                        tin: 999-99-9999
                        nss: 12-34-56-7890-1
                      activeFiscalDomicilie: true
              signature:
                value:
                  clientId: 1234
                  sectionId: signature
                  data:
                    signatureType: Solidaria
                    instructions: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua  ## se habilida si el tipo de firma es mancomunada
                    ipabOwnership: 100%
                    isrRetention: 100%
                    coHolders: # Cotitular
                    - curp: PASJ955022HDFRRN04
                      foreignerWithoutCurp: false
                      rfc: PASJ9550223
                      nif: ASDASFASD12
                      tin: 999-99-9999
                      nss: 12-34-56-7890-1
                      firstName: JOAQUIN
                      middleName: ''
                      firstLastName: PACHECO
                      secondLastName: SANTIAGO
                      dateOfBirth: 23/02/1995
                      gender: 2
                      maritalStatus: 1
                      nacionality: 1
                      countryOfBirth: MX
                      federalEntity: 1
                      relationship: 1
                      economicActivity: '1'
                      companyName: ''
                      positionHeld: ''
                      phoneBussiness: ''
                      fiscalCountry: MX
                      fiscalIdentificationNumber: '666'
                      signatureType: A
                      IPABCoverage: 50%
                      incomeTaxWithholding: 50%
                      personPpe:
                        isPpe: true
                        ppeType: NACIONAL
                        positionHeld: JEFE DE GOBIERNO
                        positionEndDate: 24/12/2026
                        hasppeRelatives: true
                        ppeRelatives:
                        - curp: PASJ955022HDFRRN04
                          rfc: WQJS12345RTS
                          nif: ASDASFASD12
                          tin: 999-99-9999
                          nss: 12-34-56-7890-1
                          firstName: CESAR
                          middleName: AUGUSTO
                          firstLastName: CAMPIA
                          secondLastName: PEREZ
                          dateOfBirth: 23/02/1995
                          nationality: "AD"
                          relationship: 1
                          positionHeld: JEFE DE GOBIERNO
                          positionEndDate: 24/12/2026
                      identification:
                        - countryOfIdentification: MX
                          identificationType: "1"
                          identificationNumber: 12454HGS
                          expirationDate: 10/10/2026 
                      residentialAddress:
                        addressRol: "1"
                        addressType: "1"
                        other: "otro tipo de direccion"
                        country: MX
                        street: AV. JUÁREZ
                        externalNumber: '10'
                        internalNumber: ''
                        postalCode: '06500'
                        federalEntity: 1
                        city: "ciudad"
                        municipality: 1
                        neighborhood: 1
                        geographicalArea: ''
                        deliveryCenter: ''
                      fiscal-self-declaration:
                        residesInMexico: true
                        SATRegisteredName: "Nombre ante el SAT"
                        fiscalRegime: "21"
                        useCFDI: "23"
                        taxPostalCode: "12345"
                        expirationStatus: "01" ## no se ve en el figma, pero fue requerido
                        isForeignTaxResident: true
                        taxAddress:
                          - taxAddress:
                              personType: "1"
                              fiscalResidence: "MX"
                              selfCertification: true
                              proofOfTaxResidency: "011"
                              certificationDate: 28/10/2025
                              declarationYear: 2025
                            fatcaCompliance:
                              autentication: "01"
                              nif: ASDASFASD12
                              tin: 999-99-9999
                              nss: 12-34-56-7890-1
                            taxAddressActive: true
                      contactData:
                        DataNonDisclosureLetter: false
                        registeredPhones:
                        - type: 1
                          country: MX
                          areaCode: '52'
                          phone: '5545319245'
                          extension: '7812'
                          notificationPhone: true
                        registeredEmails:
                        - emailAddress: DANIEL.MARTINEZ@CORREO.COM
                          notificationEmail: true
                    legalProxy: # Apoderado
                    - curp: LUPJ880512HDFRRN04
                      foreignerWithoutCurp: false
                      rfc: LUPJ8805123
                      nif: ASDASFASD12
                      tin: 999-99-9999
                      nss: 12-34-56-7890-1
                      firstName: LUIS
                      middleName: PABLO
                      firstLastName: LÓPEZ
                      secondLastName: SANTIAGO
                      dateOfBirth: 23/02/19995
                      gender: 2
                      maritalStatus: 1
                      nacionality: 1
                      countryOfBirth: MX
                      federalEntity: 1
                      relationship: 1
                      economicActivity: 1
                      occupation: 1
                      profession: 1
                      companyName: ''
                      positionHeld: ''
                      phoneBussiness: ''
                      fiscalCountry: MX
                      fiscalIdentificationNumber: '666'
                      signatureType: A
                      IPABCoverage: 50%
                      incomeTaxWithholding: 50%
                      personPpe:
                        isPpe: true
                        ppeType: NACIONAL
                        positionHeld: JEFE DE GOBIERNO
                        positionEndDate: 24/12/2026
                        hasppeRelatives: true
                        ppeRelatives:
                        - curp: LUPJ880512HDFRRN04
                          rfc: WQJS12345RTS
                          nif: ASDASFASD12
                          tin: 999-99-9999
                          nss: 12-34-56-7890-1
                          firstName: CESAR
                          middleName: JULIAN
                          firstLastName: CAMPIA
                          secondLastName: REYES
                          dateOfBirth: 23/02/1995
                          nationality: "AD"
                          relationship: 1
                          positionHeld: JEFE DE GOBIERNO
                          positionEndDate: 24/12/2026
                      identification:
                        - countryOfIdentification: MX
                          identificationType: "1"
                          identificationNumber: 12454HGS
                          expirationDate: 10/10/2026 
                      residentialAddress:
                        addressRol: "12"
                        addressType: "1"
                        other: "otro"
                        country: MX
                        street: AV. JUÁREZ
                        externalNumber: '10'
                        internalNumber: ''
                        postalCode: '06500'
                        federalEntity: 1
                        city: 1
                        municipality: 1
                        neighborhood: 1
                        geographicalArea: '' # si puede enviarse vacio
                        deliveryCenter: '' # si puede enviarse vacio
                      contactData:
                        DataNonDisclosureLetter: false
                        registeredPhones:
                        - type: 1
                          country: MX
                          areaCode: '52'
                          phone: '5545319245'
                          extension: '7812'
                          notificationPhone: true
                        registeredEmails:
                        - emailAddress: DANIEL.MARTINEZ@CORREO.COM
                          notificationEmail: true
                      faculties:
                        faculties: false
                        domain: false
                        delegationPower: false
                        creditInstruments: false
                        powerToOpenAccounts: false
                        numberPropertyDeeds: ''
                        datePropertyDeeds: 18/02/1998
                        notaryName: ''
                        notarynumber: 0
                        protocolizationBranch: ''
                        limitationsOnAuthority: ''
              authorized-person: # Persona autorixada
                value:
                  clientId: 1234
                  sectionId: authorized-person
                  data:
                    authorizedPerson:
                    - curp: PAGS90223JHMCGNQ08
                      foreignWithoutCURP: false
                      rfc: PAGS90223
                      nif: ''
                      tin: ''
                      nss: ''
                      firstName: JOAQUIN
                      middleName: SEGUNDO
                      lastName: PACHECO
                      secondLastName: SANTIAGO
                      birthDate: 23/02/1995
                      gender: 1
                      maritalStatus: 1
                      nationality: MX
                      birthCountry: MX
                      federalEntity: 1
                      signatureClass: A
                      checkbookManagementAccess: true
                      relationship: 1
                      economicActivity: 1
                      occupation: 1
                      companyName: ''
                      jobTitle: ''
                      personPpe:
                        isPpe: true
                        ppeType: NACIONAL
                        positionHeld: JEFE DE GOBIERNO
                        positionEndDate: 24/12/2026
                        hasppeRelatives: true
                        ppeRelatives:
                          rfc: WQJS12345RTS
                          firstName: CESAR
                          firstLastName: CAMPIA
                          relationship: 1
                          positionHeld: JEFE DE GOBIERNO
                          positionEndDate: 24/12/2026
                      residenceAddress:
                        addressType: 1
                        otherAddressType: OTRO TIPO
                        country: MX
                        street: JOSE A TORRES
                        externalNumber: '1234'
                        internalNumber: B-12
                        postalCode: '06500'
                        federalEntity: 1
                        municipality: '001'
                        neighborhood: PAULINO NAVARRO
                      contact:
                        type: CASA
                        country: MX
                        areaCode: '52'
                        phone: '5534923794'
                        extension: '7812'
                        emailAddress: CORREO@PERSONAL.COM
                      faculties:
                        signatureInstruction: 1 FIRMA A
                        otherSignatureInstruction: ''
              personal-interview:
                value:
                  clientId: 1234
                  sectionId: personal-interview
                  data:
                    date: 02/09/2025
                    interviewee: JUAN PEREZ
                    opening: Presencial
                    interviewLocation: Otro Domicilio
                    otherLocation: Domicilio
                    question1: true
                    question2: true
                    atypicalSituation: Prestanombres
                    question3: true
                    residence: Mexico
                    geographicalArea: Cerca del Centro Financiero
                    homeVisit: false
                    reason: NO ES CERCA
                    locality: Localidad ingresada
                    addressType: 1
                    matching address: true
                    ObservationsHomeVisit: Razones
                    customerKnowledge: Lo conozco de mucho tiempo
                    time: 3 meses
                    clientNumber: 24543
                    clientInvestmentAmount: No coincide con su nivel socioeconómico
                    initialInvestment: Transferencias internacionales
                    country: MX
                    moreInformationClient: Informacion
                    isPFWithBusinessActivity: true
                    lowRisk:
                      companyName: EMPRESA
                      jobTitle: PUESTO
                      timeWorking: 3 meses
                    mediumnRisk:
                      initialInvestmentInActinver: Otras cuentas bancarias a su nombre
                      relationship: 3
                      justificationInitialInvestment: true
                    highRisk:
                      productsOffered: PRODUCTOS OFRECIDOS
                      inventory: true
              bank-account: # cuenta bancaria
                value:
                  clientId: 1234567890
                  sectionId: bank-account
                  data:
                    bankAccounts:
                    - accountType: '1'
                      currency: '1'
                      domiciledIn: MX
                      accountStatus: '2'
                      isThirdParty: false
                      paymentMethodDocument: false
                      paymentMethodElectronic: true
                      maxAmount: '100000'
                      bank: '28710'
                      alias: ALIAS CUENTA
                      beneficiaries:
                      - beneficiaryName: '1'
                        curp: PASJ955022HDFRRN04
                        rfc: PELM950315XXX
                        accountNumberIban: 00012345678901234567
                        clabe: 012345678901234567
                      - beneficiaryName: '2'
                        curp: PASJ955022HDFRRN04
                        rfc: PELM950315XXX
                        accountNumberIban: 00098765432109876543
                        clabe: '765432109876543210'
                      reference: REFERENCIA XYZ
                      concept: CONCEPTO EJEMPLO
                      intermediaryBank: BANCO INTERMEDIARIO EJEMPLO
                      subaccountHolder: TITULAR SUBACCOUNT EJEMPLO
                      subaccountKey: CLAVE SUBACCOUNT
              privacy-notice:
                value:
                  clientId: 1234
                  sectionId: privacy-notice
                  data:
                    marketing:
                      marketingConsent: true
                      advertisingConsentActinverGroup: true
                      rejectFinancialOffersFromActinver: true
                    privacyNotice:
                      consentToPrimaryDataProcessing: true
                      consentToSecondaryUse: true
                      consentToMarketingContactAndDataTransfer: true
              exchange-operation:
                value:
                  clientId: 1234
                  sectionId: exchange-operation
                  data:
                    fxOperationReasons:
                      fxMetalsInvestments: true
                      curreencyTrading: true
                      importExport: 
                        isImportExport: true
                        countryOrigin: MX
                        countryDestination: US
                      personalFundsReceipt:
                        isPersonalFundsReceipt: true
                        originCountry: MX
                    fxOperationsDetails:
                      transactionType:
                        cash:
                          isChash: true
                          mounthlyCashTransactions: 1
                          mounthlyCashAmount: 1
                        transfer:
                          isTransfer: true
                          mounthlyTransferTransactions: 1
                          mounthlyTransferAmount: 1
                        document:
                          isDocument: true
                          mounthlyDocumentTransactions: 1
                          mounthlyDocumentAmount: 1
                        travelerCheck:
                          isTravelerCheck: true
                          mounthlyTravelerCheckTransactions: 1
                          mounthlyTravelerCheckAmount: 1
                      coinMetalType:
                        gold:
                          isGold: true
                          mounthlyGoldTransactions: 1
                          mounthlyGoldAmount: 1
                        silver:
                          isSilver: true
                          mounthlySilverTransactions: 1
                          mounthlySilverAmount: 1
                        other:
                          isOther: true
                          otherMetalType: PLATINUM
                          mounthlyOtherTransactions: 1
                          mounthlyOtherAmount: 1
              real-owner: # propietario real
                value:
                  clientId: 1234
                  sectionId: real-owner
                  data:
                    generalData:
                      foreignWithoutCURP: false
                      curp: PELM950315MDFLRR05
                      rfc: PELM950315XXX
                      nif: 
                      tin: 
                      nss:
                      country: MX
                      firstName: PEDRO
                      middleName: ELENA
                      firstLastName: LÓPEZ
                      secondLastName: MARTÍNEZ
                      dateOfBirth: 15/03/1995
                      gender: 1
                      nacionality: MX
                      countryOfBirth: MX
                      federalEntity: CHS
                      relationship: 1
                      economicActivity: '882'
                      fiel: ABCD123456XYZ
                      fielExpirationDate: 31/12/2027
                      phone: 5544332211
                      email: PEDRO.LOPEZ@CORREO.COM
                    personPpe:
                        isPpe: true
                        ppeType: NACIONAL
                        positionHeld: JEFE DE GOBIERNO
                        positionEndDate: 24/12/2026
                        hasppeRelatives: true
                        ppeRelatives:
                        - curp: GOCJ900520HDFRRN04
                          foreignerWithoutCurp: false
                          rfc: WQJS12345RTS
                          nif: 
                          tin: 
                          nss:
                          firstName: CESAR
                          middleName: "FELIPE"
                          firstLastName: CAMPIA
                          secondLastName: "NUNEZ"
                          nationality: "01"
                          countryOfBirth: "MX"
                          relationship: 1
                          positionHeld: JEFE DE GOBIERNO
                          positionEndDate: 24/12/2026
                    addressRealOwner:
                      addressType: '1'
                      other: ''
                      country: MX
                      postalCode: 06500
                      federalEntity: CHS
                      city: '1214005'
                      municipality: '001'
                      neighborhood: 1
                      street: AV. JUÁREZ
                      externalNumber: 10
                      internalNumber: 3A
              resource-provider: # provedor de recursos
                value:
                  clientId: 1234
                  sectionId: resource-provider
                  data:
                    generalData:
                      personType: '1'
                      curp: GOCJ900520HDFRRN04
                      foreignerWithoutCurp: false
                      rfc: GODE561231GR8
                      nif:
                      tin:
                      nss:
                      country: MX
                      firstName: JUAN
                      middleName: CARLOS
                      firstLastName: GÓMEZ
                      secondLastName: DÍAZ
                      dateOfBirth: 20/05/1990
                      gender: 1
                      nacionality: MX
                      countryOfBirth: MX
                      federalEntity: CHS
                      relationship: 1
                      economicActivity: '882'
                      fiel: ABCD123456XYZ
                      expirationFielDate: 10/25/1690
                      phone: '55551234'
                      email: JUAN.PEREZ@CORREO.COM
                    personPpe:
                        isPpe: true
                        ppeType: NACIONAL
                        positionHeld: JEFE DE GOBIERNO
                        positionEndDate: 24/12/2026
                        hasppeRelatives: true
                        ppeRelatives:
                        - curp: GOCJ900520HDFRRN04
                          foreignerWithoutCurp: false
                          rfc: WQJS12345RTS
                          nif: 
                          tin: 
                          nss:
                          firstName: CESAR
                          middleName: "FELIPE"
                          firstLastName: CAMPIA
                          secondLastName: "NUNEZ"
                          nationality: "01"
                          countryOfBirth: "MX"
                          relationship: 1
                          positionHeld: JEFE DE GOBIERNO
                          positionEndDate: 24/12/2026
                    resourceProviderAddress:
                      addressType: '1'
                      other: ''
                      country: MX
                      postalCode: '06500'
                      federalEntity: CHS
                      city: '1214005'
                      municipality: '001'
                      neighborhood: '1'
                      street: AV. JUÁREZ
                      externalNumber: '10'
                      internalNumber: 3A

              transactionalInvestmentProfile:
                value:
                  customerType: "1"
                  customerSubtype: "1"
                  investmentProfile: "algo"
                  investmentQuestionnaire:  #cuestionario perfil de inversion
                    dateOfBirth: "13/02/1990"
                    maritalStatus: "1"
                    profession: "1"
                    companyName: "1"
                    position: "1"
                    telephoneCompany: "55443322"
                    companyWebsite: "WWW.ALGO.COM"
                    question:
                      - idQuestion: "1"
                        idAnswer: "1"
                    educationLevel: "1"
                    occupation: "1"
                    numberOfDependents: 2
                    lineOfBusiness: "MERCANTIL"
                  questionnaire:   #ccuestionario conocimineto del cliente
                    - idQuestion: "1"
                      idAnswer: "1"
                  investmentProfileSubtype:
                    customerType: "1"
                    customerSubtype: "1"
                    other: "algo"
                    investmentProfile: "algo"
                  questionSubtype:
                    - idQuestion: "1"
                      idAnswer: "1"
                  originResource:
                    - idOriginResource: "2"
                      percentage: "60%"
                  manageInvestmentsVia: "instrucciones para manejo de inversion"   #se establecerá instrucciones para el manejo de inversiones a través de:
              questionnairePld:
                value:
                    naturalPerson:   # Sección 1: Persona Física
                      professionActivity: true   # Profesión/Actividad (SIN_ACTIVIDAD_ECONOMICA | CON_ACTIVIDAD_ECONOMICA)
                      indicateActivity: "INGENIERO DE SOFTWARE"   # Indicar actividad
                      roleType:
                        managerOfficerEmployee: true   # Directivo, funcionario o empleado
                        independentProfessional: false   # Profesionista independiente
                        individualBusinessActivity: false   # Persona física con actividad empresarial
                      toWhomInformationProvided: "CLIENT"   # Indicar a quién corresponde la información proporcionada
                      productServiceContracted: "PRODUCTO"   # Producto o servicio a contratar
                      maximumDegreeStudies: "LICENCIATURA"   # Grado máximo de estudios
                      everActinverClient: true   # ¿Es o ha sido cliente con alguna entidad de Actinver?
                      actinverContractNumber: "CN-00012345"   # Indicar número de contrato (si aplica)
                      hasRelationOtherFinancialEntity: true   # ¿Tiene o ha tenido relación con alguna otra entidad financiera?
                      whichFinancialEntity: "BANCO XYZ"   # Indicar cuál entidad financiera
                      nonGafiOrTaxHavenResident: false   # ¿Es residente o nacional de un país no GAFI y/o algún paraíso fiscal?
                      whichCountryIfNonGafi: ""   # Indicar cual "si aplica"
                      place: "CDMX"   # Lugar
                      questionnaireApplicationDate: "23/02/2024"   # Fecha de aplicación del cuestionario (DD/MM/AAAA)
                      fax: "55555555"   # Fax
                      onlyCellphoneReason: ""   # Si solo registra teléfono celular, indicar motivo
                    incomeSource:   # Sección 2: Fuente de Ingreso
                      currentEmployment:   # Empleo actual (lista)
                        - employerName: "ACME SA DE CV"   # Nombre/denominación/razón social del patrón
                          businessActivity: "1"   # Giro o actividad
                          address: "AV. INSURGENTES SUR 1234, CDMX"   # Domicilio
                          phone: "55550000"   # Teléfono
                          position: "INGENIERO DE SOFTWARE SR"   # Cargo
                          seniorityMonths: 36   # Antigüedad (meses)
                          monthlyIncome: 65000.00   # Ingreso mensual
                          otherIncome: "BONOS"   # Otros ingresos (bonos, gratificaciones, compensaciones, etc.)
                          hasFinancialResourceDisposalPowers: true   # ¿Tiene facultades para manejar/disponer recursos financieros en la empresa?
                          specify: "algun dato"
                          employerIsNonProfitOrGovOrListed: true   # AC sin fines de lucro / cotiza en Bolsa / dependencia o entidad gubernamental
                          specifyWhich: "alguna dato"
                          employerIsNonGAFIFinancialInstitution: true   # IF de país no GAFI y/o paraíso fiscal
                          specifyPattern: "alguna dato"
                      ownBusiness:   # Negocio propio (lista)
                        - businessActivity: "1"   # Giro o actividad
                          rfc: "NAGR8808318T0"   # Tipo de identificación fiscal (RFC/NIF/TIN/NSS)
                          nif: ""
                          tin: ""
                          nss: ""
                          businessName: "SOFTWARE XYZ"   # Nombre/denominación/razón social del patrón
                          address: "AV. REFORMA 100, CDMX"   # Domicilio
                          phone: "55551111"   # Teléfono
                          fax: ""   # Fax
                          website: "WWW.MIEMPRESA.COM"   # Página web
                          roleInBusiness: "DUEÑO"   # Cargo en el negocio
                          operatingTimeMonths: 48   # Tiempo que ha operado el negocio (meses)
                          employeesNumber: 3   # Número de empleados
                          annualApproxIncome: 1200000.00   # Ingreso anual aproximado
                          mainGeographicZones: "CDMX, EDOMEX"   # Principales zonas geográficas del negocio
                          businessAddressNonGAFICountry: false   # Domicilio o zonas en país no GAFI y/o paraíso fiscal
                          hasContractsWithActinverGroup: true   # ¿Ha contratado productos/servicios con Actinver?
                          indicateWhich: "algun dato"
                          isFinancialInstitutionInNonGafiCountry: false   # IF ubicada en país no GAFI y/o paraíso fiscal
                          manageDisposeFinancialResources: false     #tiene facultades para manejar o disponer recursos financieros
                      shareholderOrAssociate:   # Derivados de ser socio o asociado (lista)
                        - isMercantileCompanyPartner: false   # ¿Es socio o accionista de sociedad mercantil?
                          isCivilAssociationPartner: true   # ¿Es socio o asociado de asociación civil?
                          specifyCompany: "algun nombre"   #especificar si es una sociedad o asociacion civil sin fines de lucro
                          businessName: "SOCIEDAD XYZ SA"   # Denominación o razón social
                          corporatePurpose: "DESARROLLO DE SOFTWARE"   # Objeto social
                          constitutionCountry: "MX"   # País de constitución
                          address: "AV. UNIVERSIDAD 123"   # Domicilio
                          phone: "55552222"   # Teléfono
                          fax: ""   # Fax
                          website: "WWW.SOCIEDADXYZ.COM"   # Página web
                          roleInCompany: "SOCIO"   # Cargo en la sociedad/asociación
                          timeAsPartnerMonths: 24   # Tiempo de ser socio o asociado (meses)
                          participationPercentage: ""   # porcentaje de participacion y, en su caso, tipo de acciones
                          annualApproxIncome: 800000.00   # Ingreso anual aproximado de la sociedad/asociación
                          mainGeographicZones: "CDMX"   # Principales zonas geográficas
                          hasNonGafiAddressOrZones: false   # Domicilio o zonas en país no GAFI/paraíso fiscal
                          actinverContracts: false   # ¿Ha tenido productos/servicios con Actinver?
                          isFinancialInstitutionInNonGafiCountry: false   # la sociedad o asociacion a tenido contratos en alguna otra empresa del grupo actinver
                          nonGafiOrTaxHavenFinInst: false  #en caso de tratarse de una sociedad, es una institución financiera ubicada en un pais no miembro de gafy y/o de algun paraiso fiscal
                          otherIncomeSources: ""   # Otras fuentes de ingresos
                          governmentOrPublicEntityRelations: false   # ¿Relaciones comerciales con dependencia/entidad gubernamental?
                    ppe:   # Sección 4: Persona Políticamente Expuesta (PPE)
                      isPpe: true   # ¿Es o a sido una Persona Políticamente Expuesta?
                      positionAndInstitution: "algun dato"   # Cargo e institución (si corresponde)
                      isPartnerAssociateOrRelativeOfPpe: false   # ¿Es socio/asociado o familiar hasta segundo grado de una PPE?
                      relatedPpePersons:   # Personas PPE relacionadas (lista)
                        - curp: "PASJ50223HMCCNQ08"   # CURP
                          noCurpForeigner: false   # Extranjero sin CURP
                          rfc: "NAGR8808318T0"   # Tipo de identificación fiscal (RFC/NIF/TIN/NSS)
                          nif: ""
                          tin: ""
                          nss: ""
                          birthDate: "23/02/1995"   # Fecha de nacimiento (DD/MM/AAAA)
                          firstName: "JOAQUIN"   # Primer nombre
                          middleName: ""   # Segundo nombre
                          lastName: "PACHECO"   # Primer apellido
                          secondLastName: "SANTIAGO"   # Segundo apellido
                          relationship: "PRIMO"   # Parentesco
                    realOwner:   # Sección 5: Propietario Real
                      reasonToOpenWithThoseFunds: "AHORRO FAMILIAR"   # Razón por la que se pretende abrir la cuenta con dichos recursos
                      relationshipWithClient: "HERMANO"   # Relación existente con el cliente
                      reasonToProvideFundsToClient: "APOYO ECONÓMICO"   # Razón por la que le proporciona al cliente los recursos
                      oneTimeContribution: true
                      approximateAmount: "20"
                      contributionPeriodic: false
                      approximateAmountPeriodic: ""
                    transactionProfileUpdate:   # Sección 6: Actualización del Perfil Transaccional
                      intendedUseOfAccount: "AHORRO E INVERSIÓN"   # Uso que se pretende dar a la cuenta
                      approxMonthlyIncomingResources: 250000.00   # Monto mensual aproximado de los recursos a ingresar
                      monthlyOperations:   # Número mensual estimado de operaciones (lista)
                        - operationType:    # Tipo de operación
                            numberDeposits: "2"   #numero de depositos
                            numberOfWithdrawals: "1"  #numero de retiros
                            numNatTransfersIn: "0"    #numero de transferencias nacionales que se recibirán
                            numNatTransfersOut: "0"   #numero de transferencias nacionales que se enviaran
                            numIntTransfersIn: "2"    #numero de transferencias internacionales que se recibirán
                            numIntTransfersOut: "0"   #numero de transferencias internacionales que se enviaran
                            other: ""
                            countriesForTransfers: "algo"   #nombre de los paises o territorios desde o hacia los que se pretende recibir o enviar transferencias
                            nonFatfOrTaxHavenCountries: "algun dato" #señalar si alguno de ellos no es perteneciente a GAFI y/p algun paraiso fiscal
                            intl_transfer_reasons: "algo"  #razones por las que pretende recibir o enviar transferencias desde/hacia otros países o territorios
                            acct_usage_intent: false   #la intención del uso de la cuenta es principalmente para depositar y retirar: efectivo
                            acct_usage_other: true
                            specify: "algun dato"  #espicifcar
                    actinverInternalUse:   # Sección 7: Para uso exclusivo de Actinver
                      hasReferences: false  #Tengo referencias del prospecto, cliente o apoderado
                      specify: "si es al caso"  #especificar
                      operationsAmountCongruent: true  #El monto total de las operaciones que el cliente estima realizar es congruente con los ingresos que reporta
                      operationsAmountCongruentSpecify: ""  #especificar
                      incomeSourceHighRisk: false  #Alguna de las fuentes de ingreso declaradas por el cliente proviene de una actividad clasificada por Grupo Financiero Actinver como de alto riesgo
                      incomeSourceHighRiskSpecify: ""   #especificar
                      delegateDisposition: ""   #Indicar cuál fue la disposición del apoderado del cliente para proporcionar la información y los datos del cuestionario de identificación
                      visitDate: "24/02/2024"   # Fecha de visita (DD/MM/AAAA)
                      advisorName: "ADRIAN LOPEZ"   # Nombre del asesor
                      advisorPosition: "ASESOR"   # Puesto del asesor
                      financialCenterManager: "MARIA PEREZ"   # Gerente del Centro Financiero

              pldQuestionnaireMinorAge:  #cuestionario PLD menor antiguedad
                value:
                    naturalPerson:   # Sección 1: Persona Física (Menor antigüedad)
                      professionActivity: true   # Profesión/Actividad (SIN_ACTIVIDAD_ECONOMICA | CON_ACTIVIDAD_ECONOMICA)
                      indicateActivity: "INGENIERO DE SOFTWARE"   # Indicar actividad
                      roleType:
                        managerOfficerEmployee: true   # Directivo, funcionario o empleado
                        independentProfessional: false   # Profesionista independiente
                        individualBusinessActivity: false   # Persona física con actividad empresarial
                      toWhomInformationProvided: "CLIENT"   # Indicar a quién corresponde la información proporcionada
                      productServiceContracted: "PRODUCTO"   # Producto o servicio a contratar
                      maximumDegreeStudies: "LICENCIATURA"   # Grado máximo de estudios
                      everActinverClient: true   # ¿Es o ha sido cliente con alguna entidad de Actinver?
                      actinverContractNumber: "CN-00012345"   # Indicar número de contrato (si aplica)
                      hasRelationOtherFinancialEntity: true   # ¿Tiene o ha tenido relación con alguna otra entidad financiera?
                      whichFinancialEntity: "BANCO XYZ"   # Indicar cuál entidad financiera
                      nonGafiOrTaxHavenResident: false   # ¿Es residente o nacional de un país no GAFI y/o algún paraíso fiscal?
                      whichCountryIfNonGafi: ""   # Indicar cual "si aplica"
                      place: "CDMX"   # Lugar
                      questionnaireApplicationDate: "23/02/2024"   # Fecha de aplicación del cuestionario (DD/MM/AAAA)
                      fax: "55555555"   # Fax
                      onlyCellphoneReason: ""   # Si solo registra teléfono celular, indicar motivo
                    incomeSource:   # Sección 2: Fuente de Ingreso
                      currentEmployment:   # Empleo actual (lista)
                        - employerName: "ACME SA DE CV"   # Nombre/denominación/razón social del patrón
                          businessActivity: "1"   # Giro o actividad
                          address: "AV. INSURGENTES SUR 1234, CDMX"   # Domicilio
                          phone: "55550000"   # Teléfono
                          position: "INGENIERO DE SOFTWARE SR"   # Cargo
                          seniorityMonths: 36   # Antigüedad (meses)
                          monthlyIncome: 65000.00   # Ingreso mensual
                        - previousEmployment:   # Empleo anterior Nota: al ser menor de 1 año, se anotan los datos del empleo anterior
                            employerName: "TECH SOLUTIONS SA DE CV"   # Nombre/denominación/razón social del patrón
                            businessActivity: "1"   # Giro o actividad
                            address: "AV. PASEO DE LA REFORMA 200, CDMX"   # Domicilio
                            phone: "55559999"   # Teléfono
                            position: "DESARROLLADOR JUNIOR"   # Cargo
                            seniorityMonths: 24   # Antigüedad (meses)
                            monthlyIncome: 45000.00   # Ingreso mensual
                          otherIncome: "BONOS"   # Otros ingresos (bonos, gratificaciones, compensaciones, etc.)
                          hasFinancialResourceDisposalPowers: true   # ¿Tiene facultades para manejar/disponer recursos financieros en la empresa?
                          specify: "algun dato"
                          employerIsNonProfitOrGovOrListed: true   # AC sin fines de lucro / cotiza en Bolsa / dependencia o entidad gubernamental
                          specifyWhich: "alguna dato"
                          employerIsNonGAFIFinancialInstitution: true   # IF de país no GAFI y/o paraíso fiscal
                          specifyPattern: "alguna dato"
                      ownBusiness:   # Negocio propio (lista)
                        - businessActivity: "1"   # Giro o actividad
                          rfc: "NAGR8808318T0"   # Tipo de identificación fiscal (RFC/NIF/TIN/NSS)
                          nif: ""
                          tin: ""
                          nss: ""
                          businessName: "SOFTWARE XYZ"   # Nombre/denominación/razón social del patrón
                          address: "AV. REFORMA 100, CDMX"   # Domicilio
                          phone: "55551111"   # Teléfono
                          fax: ""   # Fax
                          website: "WWW.MIEMPRESA.COM"   # Página web
                          roleInBusiness: "DUEÑO"   # Cargo en el negocio
                          operatingTimeMonths: 48   # Tiempo que ha operado el negocio (meses)
                          employeesNumber: 3   # Número de empleados
                          annualApproxIncome: 1200000.00   # Ingreso anual aproximado
                          mainGeographicZones: "CDMX, EDOMEX"   # Principales zonas geográficas del negocio
                          hasFinancialResourceDisposalPowers: true   # ¿Tiene facultades para manejar/disponer recursos financieros en la empresa?
                          specify: "algun dato"
                          businessAddressNonGAFICountry: false   # Domicilio o zonas en país no GAFI y/o paraíso fiscal
                          specifyWhich: "algun dato en caso que aplique"
                          hasContractsWithActinverGroup: true   # ¿Ha contratado productos/servicios con Actinver?
                          indicateWhich: "algun dato"
                          manageDisposeFinancialResources: false     #tiene facultades para manejar o disponer recursos financieros
                          specifyWhichResources: "algun dato en caso que aplique"
                          isFinancialInstitutionInNonGafiCountry: false   # IF ubicada en país no GAFI y/o paraíso fiscal
                          indicate: "algun dato en caso que aplique"
                      shareholderOrAssociate:   # Derivados de ser socio o asociado (lista)
                        - isMercantileCompanyPartner: false   # ¿Es socio o accionista de sociedad mercantil?
                          isCivilAssociationPartner: true   # ¿Es socio o asociado de asociación civil?
                          specifyCompany: "algun nombre"   #especificar si es una sociedad o asociacion civil sin fines de lucro
                          businessName: "SOCIEDAD XYZ SA"   # Denominación o razón social
                          corporatePurpose: "DESARROLLO DE SOFTWARE"   # Objeto social
                          constitutionCountry: "MX"   # País de constitución
                          address: "AV. UNIVERSIDAD 123"   # Domicilio
                          phone: "55552222"   # Teléfono
                          fax: ""   # Fax
                          website: "WWW.SOCIEDADXYZ.COM"   # Página web
                          roleInCompany: "SOCIO"   # Cargo en el negocio
                          timeAsPartnerMonths: 24   # Tiempo que ha operado el negocio
                          coryzaStockExchange: true   # ¿Cotiza en Bolsa?
                          positionCompany: "DIRECTOR GENERAL"   # cargo en la sociedad o asociacion, en su caso
                          timePartnerAssociate: 36   # Tiempo de ser socio o asociado
                          participationPercentage: ""   # porcentaje de participacion y, en su caso, tipo de acciones
                          annualApproxIncome: 800000.00   # Ingreso anual aproximado de la sociedad/asociación
                          mainGeographicZones: "CDMX"   # Principales zonas geográficas
                          hasNonGafiAddressOrZones: false   # Domicilio o zonas en país no GAFI/paraíso fiscal
                          which: "input: caso que aplique"
                          actinverContracts: false   # ¿Ha tenido productos/servicios con Actinver?
                          indicateContractNumber: "algun dato en caso que aplique"
                          isFinancialInstitutionInNonGafiCountry: false   # la sociedad o asociacion a tenido contratos en alguna otra empresa del grupo actinver
                          indicateContract: "algun dato en caso que aplique"
                          nonGafiOrTaxHavenFinInst: true  #en caso de tratarse de una sociedad, es una institución financiera ubicada en un pais no miembro de gafy y/o de algun paraiso fiscal
                          otherIncomeSources: true   # Otras fuentes de ingresos
                          specifyOtherIncomeSources: "algun dato en caso que aplique"
                          governmentOrPublicEntityRelations: true   # ¿Relaciones comerciales con dependencia/entidad gubernamental?
                          specifyGovernmentRelations: "algun dato en caso que aplique"
                    ppe:   # Sección 4: Persona Políticamente Expuesta (PPE)
                      isPpe: true   # ¿Es o a sido una Persona Políticamente Expuesta?
                      positionAndInstitution: "algun dato"   # Cargo e institución (si corresponde)
                      isPartnerAssociateOrRelativeOfPpe: true   # ¿Es socio/asociado o familiar hasta segundo grado de una PPE?
                      relatedPpePersons:   # Personas PPE relacionadas (lista)
                        - curp: "PASJ50223HMCCNQ08"   # CURP
                          noCurpForeigner: false   # Extranjero sin CURP
                          rfc: "NAGR8808318T0"   # Tipo de identificación fiscal (RFC/NIF/TIN/NSS)
                          nif: ""
                          tin: ""
                          nss: ""
                          birthDate: "23/02/1995"   # Fecha de nacimiento (DD/MM/AAAA)
                          firstName: "JOAQUIN"   # Primer nombre
                          middleName: ""   # Segundo nombre
                          lastName: "PACHECO"   # Primer apellido
                          secondLastName: "SANTIAGO"   # Segundo apellido
                          relationship: "PRIMO"   # Parentesco
                    realOwner:   # Sección 5: Propietario Real
                      reasonToOpenWithThoseFunds: "AHORRO FAMILIAR"   # Razón por la que se pretende abrir la cuenta con dichos recursos
                      relationshipWithClient: "HERMANO"   # Relación existente con el cliente
                      reasonToProvideFundsToClient: "APOYO ECONÓMICO"   # Razón por la que le proporciona al cliente los recursos
                      oneTimeContribution: true   #la aportacion es por unica ocacion
                      approximateAmount: "20"  #monto aproximado
                      contributionPeriodic: false    #la aportacion es de manera periodica
                      indicateApproximateAmount: "en caso que aplique"   #monto aproximado
                      indicatePeriodicity: "en caso que aplique"   #indicar periodicidad
                      approximateAmountPeriodic: ""
                    transactionProfileUpdate:   # Sección 6: Actualización del Perfil Transaccional
                      intendedUseOfAccount: "AHORRO E INVERSIÓN"   # Uso que se pretende dar a la cuenta
                      approxMonthlyIncomingResources: 250000.00   # Monto mensual aproximado de los recursos a ingresar
                      monthlyOperations:   # Número mensual estimado de operaciones (lista)
                        - operationType:    # Tipo de operación
                            numberDeposits: "2"   #numero de depositos
                            numberOfWithdrawals: "1"  #numero de retiros
                            numNatTransfersIn: "0"    #numero de transferencias nacionales que se recibirán
                            numNatTransfersOut: "0"   #numero de transferencias nacionales que se enviaran
                            numIntTransfersIn: "2"    #numero de transferencias internacionales que se recibirán
                            numIntTransfersOut: "0"   #numero de transferencias internacionales que se enviaran
                            other: ""   #otras
                            countriesForTransfers: "algo"   #nombre de los paises o territorios desde o hacia los que se pretende recibir o enviar transferencias
                            nonFatfOrTaxHavenCountries: "algun dato" #señalar si alguno de ellos no es perteneciente a GAFI y/p algun paraiso fiscal
                            intl_transfer_reasons: "algo"  #razones por las que pretende recibir o enviar transferencias desde/hacia otros países o territorios
                            acct_usage_intent: false   #la intención del uso de la cuenta es principalmente para depositar y retirar: efectivo
                            specifyAcctUsageIntent: "algun dato en caso que aplique"
                            acct_usage_other: true    #la intención del uso de la cuenta es principalmente para depositar y retirar: otros
                            specify: "algun dato"  #espicifcar
                    actinverInternalUse:   # Sección 7: Para uso exclusivo de Actinver
                      hasReferences: false  #Tengo referencias del prospecto, cliente o apoderado
                      specify: "si es al caso"  #especificar
                      operationsAmountCongruent: true  #El monto total de las operaciones que el cliente estima realizar es congruente con los ingresos que reporta
                      operationsAmountCongruentSpecify: ""  #especificar
                      incomeSourceHighRisk: false  #Alguna de las fuentes de ingreso declaradas por el cliente proviene de una actividad clasificada por Grupo Financiero Actinver como de alto riesgo
                      incomeSourceHighRiskSpecify: ""   #especificar
                      delegateDisposition: ""   #Indicar cuál fue la disposición del apoderado del cliente para proporcionar la información y los datos del cuestionario de identificación
                      visitDate: "24/02/2024"   # Fecha de visita (DD/MM/AAAA)
                      advisorName: "ADRIAN LOPEZ"   # Nombre del asesor
                      advisorPosition: "ASESOR"   # Puesto del asesor
                      financialCenterManager: "MARIA PEREZ"   # Gerente del Centro Financiero
      responses:
        '201':
          description: Checkpoint created or updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  applicationNumber:
                    type: string
                    example: '1234567890'
                  sectionId:
                    type: string
                    example: datos-iniciales
                  status:
                    type: string
                    example: CREATED
              examples:
                bank-account:
                  value:
                    applicationNumber: '1234567890'
                    sectionId: bank-account
                    status: CREATED
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        '401':
          description: JWT is expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              example:
                status: 401
                appCode: CROSS-SUPPORT-E-401
                messages:
                - JWT IS EXPIRED
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              example:
                status: 403
                appCode: CROSS-SUPPORT-E-403
                messages:
                - FORBIDDEN
        '404':
          description: Resource not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              example:
                status: 404
                appCode: CROSS-SUPPORT-E-404
                messages:
                - RESOURCE NOT FOUND
        '412':
          description: Precondition failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              example:
                status: 412
                appCode: CROSS-SUPPORT-E-412
                messages:
                - PRECONDITION FAILED
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              example:
                status: 500
                appCode: SPINE-MS_CROSS_SUPPORT-CATALOGS-500
                messages:
                - ERROR EN EL TRATAMIENTO DE SERVICIO WEB; MÁS DETALLES EN LOG DE
                  ERROR DE SERVICIO WEB EN LA PÁGINA DE PROVEEDOR (CRONOMARCADOR UTC
                  20220816151711; ID DE TRANSACCIÓN B742632CC2C200A0E0062ED2ACC62E94)
components:
  schemas:
    errorResponse:
      type: object
      properties:
        status:
          type: integer
          format: int32
          example: 400
        appCode:
          type: string
          example: CROSS-SUPPORT-E-400
        messages:
          type: array
          items:
            type: string
          example:
          - Invalid search parameters
    checkpointRequest:
      type: object
      required:
      - sectionId
      - data
      properties:
        onboardingId:
          type: integer
          format: int64
          example: 1234567890
          description: Unique identifier for the onboarding process
        sectionId:
          type: string
          enum:
          - datos-iniciales
          - identificacion-contacto
          - informacion-ppe
          - datos-generales
          - domicilio
          - firma
          - beneficiarios
          - authorized-person
          - autocertificacion-fiscales
          - entrevista-personal
          description: Tab ID for the checkpoint
        data:
          type: object
          description: Specific data for the tab (variable structure depending on
            tabId)
          additionalProperties: true
        clientId:
          type: string
          description: Client identifier
      description: Request object for checkpoint data
 