openapi: 3.0.3
info:
  title: MS - SPINE MOCK
  description: This a sample MS SPINE Server based on the OpenAPI 3.0 specification.
    You can explore the paths for Customers API and check the request and response
    of all services.
  termsOfService: https://swagger.io/terms/
  contact:
    email: cramosmon@minsait.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: '1.0'
externalDocs:
  description: Find out more about Swagger
  url: https://swagger.io
servers:
- url: https://develop-api.actinver.com.mx
tags:
- name: catalogs
  description: API for Catalogs SPINE
- name: customers
  description: API for Customers SPINE
paths:
  /cross/catalogs/cfdi:
    post:
      tags:
      - catalogs
      summary: Get cfdi type catalog
      description: Retrieve a list of cfdi based on provided IDs.
      operationId: getCfdiCatalog
      parameters:
      - in: header
        name: Content-Type
        schema:
          type: string
          example: APPLICATION/JSON
        required: true
      - in: header
        name: Authorization
        schema:
          type: string
          example: BEARER EYJHBGCIOIJIUZI1NIISINR5CCI6IKPXVCJ9.EYJZDWIIOIIXMJM0NTY3ODKWIIWIBMFTZSI6IKPVAG4GRG9LIIWIAWF0IJOXNTE2MJM5MDIYFQ.SFLKXWRJSMEKKF2QT4FWPMEJF36POK6YJV_ADQSSW5C
        required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/cfdiRequest'
      responses:
        '200':
          description: Successful response with person type data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cfdiResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        '401':
          description: JWT is expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              example:
                status: 401
                appCode: CROSS-SUPPORT-E-401
                messages:
                - JWT IS EXPIRED
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              example:
                status: 403
                appCode: CROSS-SUPPORT-E-403
                messages:
                - FORBIDDEN
        '404':
          description: Resource not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              example:
                status: 404
                appCode: CROSS-SUPPORT-E-404
                messages:
                - RESOURCE NOT FOUND
        '412':
          description: Precondition failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              example:
                status: 412
                appCode: CROSS-SUPPORT-E-412
                messages:
                - PRECONDITION FAILED
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              example:
                status: 500
                appCode: SPINE-MS_CROSS_SUPPORT-CATALOGS-500
                messages:
                - ERROR EN EL TRATAMIENTO DE SERVICIO WEB; MÁS DETALLES EN LOG DE
                  ERROR DE SERVICIO WEB EN LA PÁGINA DE PROVEEDOR (CRONOMARCADOR UTC
                  20220816151711; ID DE TRANSACCIÓN B742632CC2C200A0E0062ED2ACC62E94)
  /cross/catalogs/fiscal-regime:
    post:
      tags:
      - catalogs
      summary: Get fiscal-regime type catalog
      description: Retrieve a list of fiscal-regime based on provided IDs.
      operationId: getfiscalregimeCatalog
      parameters:
      - in: header
        name: Content-Type
        schema:
          type: string
          example: APPLICATION/JSON
        required: true
      - in: header
        name: Authorization
        schema:
          type: string
          example: BEARER EYJHBGCIOIJIUZI1NIISINR5CCI6IKPXVCJ9.EYJZDWIIOIIXMJM0NTY3ODKWIIWIBMFTZSI6IKPVAG4GRG9LIIWIAWF0IJOXNTE2MJM5MDIYFQ.SFLKXWRJSMEKKF2QT4FWPMEJF36POK6YJV_ADQSSW5C
        required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/fiscalRegimeRequest'
      responses:
        '200':
          description: Successful response with person type data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fiscalRegimeResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        '401':
          description: JWT is expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              example:
                status: 401
                appCode: CROSS-SUPPORT-E-401
                messages:
                - JWT IS EXPIRED
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              example:
                status: 403
                appCode: CROSS-SUPPORT-E-403
                messages:
                - FORBIDDEN
        '404':
          description: Resource not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              example:
                status: 404
                appCode: CROSS-SUPPORT-E-404
                messages:
                - RESOURCE NOT FOUND
        '412':
          description: Precondition failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              example:
                status: 412
                appCode: CROSS-SUPPORT-E-412
                messages:
                - PRECONDITION FAILED
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              example:
                status: 500
                appCode: SPINE-MS_CROSS_SUPPORT-CATALOGS-500
                messages:
                - ERROR EN EL TRATAMIENTO DE SERVICIO WEB; MÁS DETALLES EN LOG DE
                  ERROR DE SERVICIO WEB EN LA PÁGINA DE PROVEEDOR (CRONOMARCADOR UTC
                  20220816151711; ID DE TRANSACCIÓN B742632CC2C200A0E0062ED2ACC62E94)
  /cross/catalogs/monthly/number/deposits:
    post:
      tags:
      - catalogs
      summary: Get deposits type catalog
      description: Retrieve a list of deposits based on provided IDs.
      operationId: getdepositsCatalog
      parameters:
      - in: header
        name: Content-Type
        schema:
          type: string
          example: APPLICATION/JSON
        required: true
      - in: header
        name: Authorization
        schema:
          type: string
          example: BEARER EYJHBGCIOIJIUZI1NIISINR5CCI6IKPXVCJ9.EYJZDWIIOIIXMJM0NTY3ODKWIIWIBMFTZSI6IKPVAG4GRG9LIIWIAWF0IJOXNTE2MJM5MDIYFQ.SFLKXWRJSMEKKF2QT4FWPMEJF36POK6YJV_ADQSSW5C
        required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/depositsRequest'
      responses:
        '200':
          description: Successful response with person type data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/depositsResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        '401':
          description: JWT is expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              example:
                status: 401
                appCode: CROSS-SUPPORT-E-401
                messages:
                - JWT IS EXPIRED
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              example:
                status: 403
                appCode: CROSS-SUPPORT-E-403
                messages:
                - FORBIDDEN
        '404':
          description: Resource not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              example:
                status: 404
                appCode: CROSS-SUPPORT-E-404
                messages:
                - RESOURCE NOT FOUND
        '412':
          description: Precondition failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              example:
                status: 412
                appCode: CROSS-SUPPORT-E-412
                messages:
                - PRECONDITION FAILED
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              example:
                status: 500
                appCode: SPINE-MS_CROSS_SUPPORT-CATALOGS-500
                messages:
                - ERROR EN EL TRATAMIENTO DE SERVICIO WEB; MÁS DETALLES EN LOG DE
                  ERROR DE SERVICIO WEB EN LA PÁGINA DE PROVEEDOR (CRONOMARCADOR UTC
                  20220816151711; ID DE TRANSACCIÓN B742632CC2C200A0E0062ED2ACC62E94)
  /cross/catalogs/average/amount/monthlyDeposits:
    post:
      tags:
      - catalogs
      summary: Get monthly deposits type catalog
      description: Retrieve a list of monthly deposits based on provided IDs.
      operationId: getMonthlyDepositsCatalog
      parameters:
      - in: header
        name: Content-Type
        schema:
          type: string
          example: APPLICATION/JSON
        required: true
      - in: header
        name: Authorization
        schema:
          type: string
          example: BEARER EYJHBGCIOIJIUZI1NIISINR5CCI6IKPXVCJ9.EYJZDWIIOIIXMJM0NTY3ODKWIIWIBMFTZSI6IKPVAG4GRG9LIIWIAWF0IJOXNTE2MJM5MDIYFQ.SFLKXWRJSMEKKF2QT4FWPMEJF36POK6YJV_ADQSSW5C
        required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/monthlydepositsRequest'
      responses:
        '200':
          description: Successful response with person type data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/monthlydepositsResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        '401':
          description: JWT is expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              example:
                status: 401
                appCode: CROSS-SUPPORT-E-401
                messages:
                - JWT IS EXPIRED
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              example:
                status: 403
                appCode: CROSS-SUPPORT-E-403
                messages:
                - FORBIDDEN
        '404':
          description: Resource not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              example:
                status: 404
                appCode: CROSS-SUPPORT-E-404
                messages:
                - RESOURCE NOT FOUND
        '412':
          description: Precondition failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              example:
                status: 412
                appCode: CROSS-SUPPORT-E-412
                messages:
                - PRECONDITION FAILED
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              example:
                status: 500
                appCode: SPINE-MS_CROSS_SUPPORT-CATALOGS-500
                messages:
                - ERROR EN EL TRATAMIENTO DE SERVICIO WEB; MÁS DETALLES EN LOG DE
                  ERROR DE SERVICIO WEB EN LA PÁGINA DE PROVEEDOR (CRONOMARCADOR UTC
                  20220816151711; ID DE TRANSACCIÓN B742632CC2C200A0E0062ED2ACC62E94)
  /cross/catalogs/average/amount/retreats:
    post:
      tags:
      - catalogs
      summary: Get retreats type catalog
      description: Retrieve a list of retreats based on provided IDs.
      operationId: getretreatsCatalog
      parameters:
      - in: header
        name: Content-Type
        schema:
          type: string
          example: APPLICATION/JSON
        required: true
      - in: header
        name: Authorization
        schema:
          type: string
          example: BEARER EYJHBGCIOIJIUZI1NIISINR5CCI6IKPXVCJ9.EYJZDWIIOIIXMJM0NTY3ODKWIIWIBMFTZSI6IKPVAG4GRG9LIIWIAWF0IJOXNTE2MJM5MDIYFQ.SFLKXWRJSMEKKF2QT4FWPMEJF36POK6YJV_ADQSSW5C
        required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/retreatsRequest'
      responses:
        '200':
          description: Successful response with person type data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retreatsResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        '401':
          description: JWT is expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              example:
                status: 401
                appCode: CROSS-SUPPORT-E-401
                messages:
                - JWT IS EXPIRED
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              example:
                status: 403
                appCode: CROSS-SUPPORT-E-403
                messages:
                - FORBIDDEN
        '404':
          description: Resource not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              example:
                status: 404
                appCode: CROSS-SUPPORT-E-404
                messages:
                - RESOURCE NOT FOUND
        '412':
          description: Precondition failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              example:
                status: 412
                appCode: CROSS-SUPPORT-E-412
                messages:
                - PRECONDITION FAILED
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              example:
                status: 500
                appCode: SPINE-MS_CROSS_SUPPORT-CATALOGS-500
                messages:
                - ERROR EN EL TRATAMIENTO DE SERVICIO WEB; MÁS DETALLES EN LOG DE
                  ERROR DE SERVICIO WEB EN LA PÁGINA DE PROVEEDOR (CRONOMARCADOR UTC
                  20220816151711; ID DE TRANSACCIÓN B742632CC2C200A0E0062ED2ACC62E94)
  /cross/catalogs/accountType:
    post:
      tags:
      - catalogs
      summary: Get accountType catalog
      description: Retrieve a list of accountType based on provided IDs.
      operationId: getAccountTypeCatalog
      parameters:
      - in: header
        name: Content-Type
        required: true
        schema:
          type: string
          example: APPLICATION/JSON
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
          example: BEARER EYJHBGCIOIJIUZI1NIISINR5CCI6IKPXVCJ9.EYJZDWIIOIIXMJM0NTY3ODKWIIWIBMFTZSI6IKPVAG4GRG9LIIWIAWF0IJOXNTE2MJM5MDIYFQ.SFLKXWRJSMEKKF2QT4FWPMEJF36POK6YJV_ADQSSW5C
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/accountTypeRequest'
            example:
              accountTypeIds:
              - '1'
              - '2'
      responses:
        '200':
          description: Successful response with accountType data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/accountTypeResponse'
              example:
              - bankAccountTypeId: '1'
                bankAccount: CHEQUES
              - bankAccountTypeId: '2'
                bankAccount: CRÉDITO
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        '401':
          description: JWT is expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              example:
                status: 401
                appCode: CROSS-SUPPORT-E-401
                messages:
                - JWT IS EXPIRED
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              example:
                status: 403
                appCode: CROSS-SUPPORT-E-403
                messages:
                - FORBIDDEN
        '404':
          description: Resource not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              example:
                status: 404
                appCode: CROSS-SUPPORT-E-404
                messages:
                - RESOURCE NOT FOUND
        '412':
          description: Precondition failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              example:
                status: 412
                appCode: CROSS-SUPPORT-E-412
                messages:
                - PRECONDITION FAILED
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              example:
                status: 500
                appCode: SPINE-MS_CROSS_SUPPORT-CATALOGS-500
                messages:
                - ERROR EN EL TRATAMIENTO DE SERVICIO WEB; MÁS DETALLES EN LOG DE
                  ERROR DE SERVICIO WEB
  /cross/catalogs/currencyType:
    post:
      tags:
      - catalogs
      summary: Get currency type catalog
      description: Retrieve a list of currency types based on provided IDs.
      operationId: getCurrencyTypeCatalog
      parameters:
      - in: header
        name: Content-Type
        required: true
        schema:
          type: string
          example: APPLICATION/JSON
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
          example: BEARER EYJHBGCIOIJIUZI1NIISINR5CCI6IKPXVCJ9.EYJZDWIIOIIXMJM0NTY3ODKWIIWIBMFTZSI6IKPVAG4GRG9LIIWIAWF0IJOXNTE2MJM5MDIYFQ.SFLKXWRJSMEKKF2QT4FWPMEJF36POK6YJV_ADQSSW5C
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/currencyTypeRequest'
            example:
              currencyTypeIds:
              - '1'
              - '2'
      responses:
        '200':
          description: Successful response with currency type data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/currencyTypeResponse'
              example:
              - currencyTypeId: '1'
                description: MONEDA NACIONAL
              - currencyTypeId: '2'
                description: DOLAR
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        '401':
          description: JWT is expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              example:
                status: 401
                appCode: CROSS-SUPPORT-E-401
                messages:
                - JWT IS EXPIRED
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              example:
                status: 403
                appCode: CROSS-SUPPORT-E-403
                messages:
                - FORBIDDEN
        '404':
          description: Resource not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              example:
                status: 404
                appCode: CROSS-SUPPORT-E-404
                messages:
                - RESOURCE NOT FOUND
        '412':
          description: Precondition failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              example:
                status: 412
                appCode: CROSS-SUPPORT-E-412
                messages:
                - PRECONDITION FAILED
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              example:
                status: 500
                appCode: SPINE-MS_CROSS_SUPPORT-CATALOGS-500
                messages:
                - ERROR EN EL TRATAMIENTO DE SERVICIO WEB; MÁS DETALLES EN LOG DE ERROR DE SERVICIO WEB
  /cross/catalogs/accountStatement:
    post:
      tags:
      - catalogs
      summary: Get account statement catalog
      description: Retrieve a list of account statements based on provided IDs.
      operationId: getAccountStatementCatalog
      parameters:
      - in: header
        name: Content-Type
        required: true
        schema:
          type: string
          example: APPLICATION/JSON
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
          example: BEARER EYJHBGCIOIJIUZI1NIISINR5CCI6IKPXVCJ9.EYJZDWIIOIIXMJM0NTY3ODKWIIWIBMFTZSI6IKPVAG4GRG9LIIWIAWF0IJOXNTE2MJM5MDIYFQ.SFLKXWRJSMEKKF2QT4FWPMEJF36POK6YJV_ADQSSW5C
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/accountStatementRequest'
            example:
              accountStatementsIds:
              - '1'
              - '2'
      responses:
        '200':
          description: Successful response with account statement data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/accountStatementResponse'
              example:
              - accountStatementId: '1'
                accountStatement: PENDIENTE
              - accountStatementId: '2'
                accountStatement: CONFIRMADO
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        '401':
          description: JWT is expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              example:
                status: 401
                appCode: CROSS-SUPPORT-E-401
                messages:
                - JWT IS EXPIRED
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              example:
                status: 403
                appCode: CROSS-SUPPORT-E-403
                messages:
                - FORBIDDEN
        '404':
          description: Resource not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              example:
                status: 404
                appCode: CROSS-SUPPORT-E-404
                messages:
                - RESOURCE NOT FOUND
        '412':
          description: Precondition failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              example:
                status: 412
                appCode: CROSS-SUPPORT-E-412
                messages:
                - PRECONDITION FAILED
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              example:
                status: 500
                appCode: SPINE-MS_CROSS_SUPPORT-CATALOGS-500
                messages:
                - ERROR EN EL TRATAMIENTO DE SERVICIO WEB; MÁS DETALLES EN LOG DE ERROR DE SERVICIO WEB
  /customers/service/salespractices/quiz:
    post:
      tags:
      - customers
      summary: Get sales practices quiz
      description: Retrieve a sales practices quiz based on provided criteria.
      operationId: getSalesPracticesQuiz
      parameters:
      - in: header
        name: Content-Type
        schema:
          type: string
          example: APPLICATION/JSON
        required: true
      - in: header
        name: Authorization
        schema:
          type: string
          example: BEARER EYJHBGCIOIJIUZI1NIISINR5CCI6IKPXVCJ9.EYJZDWIIOIIXMJM0NTY3ODKWIIWIBMFTZSI6IKPVAG4GRG9LIIWIAWF0IJOXNTE2MJM5MDIYFQ.SFLKXWRJSMEKKF2QT4FWPMEJF36POK6YJV_ADQSSW5C
        required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/salesPracticesQuizRequest'
      responses:
        '200':
          description: Successful response with sales practices quiz data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/salesPracticesQuizResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        '401':
          description: JWT is expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              example:
                status: 401
                appCode: CROSS-SUPPORT-E-401
                messages:
                - JWT IS EXPIRED
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              example:
                status: 403
                appCode: CROSS-SUPPORT-E-403
                messages:
                - FORBIDDEN
        '404':
          description: Resource not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              example:
                status: 404
                appCode: CROSS-SUPPORT-E-404
                messages:
                - RESOURCE NOT FOUND
        '412':
          description: Precondition failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              example:
                status: 412
                appCode: CROSS-SUPPORT-E-412
                messages:
                - PRECONDITION FAILED
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              example:
                status: 500
                appCode: SPINE-MS_CROSS_SUPPORT-CATALOGS-500
                messages:
                - ERROR EN EL TRATAMIENTO DE SERVICIO WEB; MÁS DETALLES EN LOG DE
                  ERROR DE SERVICIO WEB EN LA PÁGINA DE PROVEEDOR (CRONOMARCADOR UTC
                  20220816151711; ID DE TRANSACCIÓN B742632CC2C200A0E0062ED2ACC62E94)
  /customers/service/salespractices/quiz/rate:
    post:
      tags:
      - customers
      summary: Rate sales practices quiz
      description: Submit answers to rate a sales practices quiz.
      operationId: rateSalesPracticesQuiz
      parameters:
      - in: header
        name: Content-Type
        schema:
          type: string
          example: APPLICATION/JSON
        required: true
      - in: header
        name: Authorization
        schema:
          type: string
          example: BEARER EYJHBGCIOIJIUZI1NIISINR5CCI6IKPXVCJ9.EYJZDWIIOIIXMJM0NTY3ODKWIIWIBMFTZSI6IKPVAG4GRG9LIIWIAWF0IJOXNTE2MJM5MDIYFQ.SFLKXWRJSMEKKF2QT4FWPMEJF36POK6YJV_ADQSSW5C
        required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/salesPracticesQuizRateRequest'
      responses:
        '200':
          description: Successful response after rating the quiz
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/salesPracticesQuizRateResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        '401':
          description: JWT is expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              example:
                status: 401
                appCode: CROSS-SUPPORT-E-401
                messages:
                - JWT IS EXPIRED
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              example:
                status: 403
                appCode: CROSS-SUPPORT-E-403
                messages:
                - FORBIDDEN
        '404':
          description: Resource not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              example:
                status: 404
                appCode: CROSS-SUPPORT-E-404
                messages:
                - RESOURCE NOT FOUND
        '412':
          description: Precondition failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              example:
                status: 412
                appCode: CROSS-SUPPORT-E-412
                messages:
                - PRECONDITION FAILED
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              example:
                status: 500
                appCode: SPINE-MS_CROSS_SUPPORT-CATALOGS-500
                messages:
                - ERROR EN EL TRATAMIENTO DE SERVICIO WEB; MÁS DETALLES EN LOG DE
                  ERROR DE SERVICIO WEB EN LA PÁGINA DE PROVEEDOR (CRONOMARCADOR UTC
                  20220816151711; ID DE TRANSACCIÓN B742632CC2C200A0E0062ED2ACC62E94)
  /customers/service/salespractices/quiz/rate/confirm:
    post:
      tags:
      - customers
      summary: Confirm rated sales practices quiz
      description: Confirm the submission of a rated sales practices quiz.
      operationId: confirmRatedSalesPracticesQuiz
      parameters:
      - in: header
        name: Content-Type
        schema:
          type: string
          example: APPLICATION/JSON
        required: true
      - in: header
        name: Authorization
        schema:
          type: string
          example: BEARER EYJHBGCIOIJIUZI1NIISINR5CCI6IKPXVCJ9.EYJZDWIIOIIXMJM0NTY3ODKWIIWIBMFTZSI6IKPVAG4GRG9LIIWIAWF0IJOXNTE2MJM5MDIYFQ.SFLKXWRJSMEKKF2QT4FWPMEJF36POK6YJV_ADQSSW5C
        required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/salesPracticesQuizConfirmRequest'
      responses:
        '200':
          description: Successful response after confirming the rated quiz
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/salesPracticesQuizConfirmResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        '401':
          description: JWT is expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              example:
                status: 401
                appCode: CROSS-SUPPORT-E-401
                messages:
                - JWT IS EXPIRED
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              example:
                status: 403
                appCode: CROSS-SUPPORT-E-403
                messages:
                - FORBIDDEN
        '404':
          description: Resource not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              example:
                status: 404
                appCode: CROSS-SUPPORT-E-404
                messages:
                - RESOURCE NOT FOUND
        '412':
          description: Precondition failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              example:
                status: 412
                appCode: CROSS-SUPPORT-E-412
                messages:
                - PRECONDITION FAILED
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              example:
                status: 500
                appCode: SPINE-MS_CROSS_SUPPORT-CATALOGS-500
                messages:
                - ERROR EN EL TRATAMIENTO DE SERVICIO WEB; MÁS DETALLES EN LOG DE
                  ERROR DE SERVICIO WEB EN LA PÁGINA DE PROVEEDOR (CRONOMARCADOR UTC
                  20220816151711; ID DE TRANSACCIÓN B742632CC2C200A0E0062ED2ACC62E94)
  /customers/service/salespractices/profiling-document:
    post:
      tags:
      - customers
      summary: Submit profiling document
      description: Submit a profiling document for sales practices.
      operationId: submitProfilingDocument
      parameters:
      - in: header
        name: Content-Type
        schema:
          type: string
          example: APPLICATION/JSON
        required: true
      - in: header
        name: Authorization
        schema:
          type: string
          example: BEARER EYJHBGCIOIJIUZI1NIISINR5CCI6IKPXVCJ9.EYJZDWIIOIIXMJM0NTY3ODKWIIWIBMFTZSI6IKPVAG4GRG9LIIWIAWF0IJOXNTE2MJM5MDIYFQ.SFLKXWRJSMEKKF2QT4FWPMEJF36POK6YJV_ADQSSW5C
        required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/profilingDocumentRequest'
      responses:
        '200':
          description: Successful response after submitting the profiling document
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/profilingDocumentResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        '401':
          description: JWT is expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              example:
                status: 401
                appCode: CROSS-SUPPORT-E-401
                messages:
                - JWT IS EXPIRED
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              example:
                status: 403
                appCode: CROSS-SUPPORT-E-403
                messages:
                - FORBIDDEN
        '404':
          description: Resource not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              example:
                status: 404
                appCode: CROSS-SUPPORT-E-404
                messages:
                - RESOURCE NOT FOUND
        '412':
          description: Precondition failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              example:
                status: 412
                appCode: CROSS-SUPPORT-E-412
                messages:
                - PRECONDITION FAILED
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              example:
                status: 500
                appCode: SPINE-MS_CROSS_SUPPORT-CATALOGS-500
                messages:
                - ERROR EN EL TRATAMIENTO DE SERVICIO WEB; MÁS DETALLES EN LOG DE
                  ERROR DE SERVICIO WEB EN LA PÁGINA DE PROVEEDOR (CRONOMARCADOR UTC
                  20220816151711; ID DE TRANSACCIÓN B742632CC2C200A0E0062ED2ACC62E94)
  /prospects/checkpoint:
    post:
      summary: Create or update checkpoint
      description: Saves the information of a specific tab in the onboarding process
      tags:
      - checkpoint
      operationId: createOrUpdateCheckpoint
      parameters:
      - in: header
        name: Content-Type
        schema:
          type: string
          example: application/json
        required: true
      - in: header
        name: Authorization
        schema:
          type: string
          example: BEARER EYJHBGCIOIJIUZI1NIISINR5CCI6IKPXVCJ9.EYJZDWIIOIIXMJM0NTY3ODKWIIWIBMFTZSI6IKPVAG4GRG9LIIWIAWF0IJOXNTE2MJM5MDIYFQ.SFLKXWRJSMEKKF2QT4FWPMEJF36POK6YJV_ADQSSW5C
        required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/checkpointRequest'
            examples:
              identification:
                value:
                  clientId: 1234
                  sectionId: identification-contact
                  data:
                    identifications:
                    - country: MX
                      identificationType: '1'
                      identificationNumber: ABC1234567
                      expirationDate: 31/12/2028
                  manifestLetter: false
                  telephones:
                  - type: '1'
                    country: MX
                    areaCode: '+52'
                    phone: '55551234'
                    extension: '123'
                    notificationPhone: true
                  emails:
                  - emailAddress: JUAN.PEREZ@CORREO.COM
                    notificationEmail: true
              initial-data:
                value:
                  clientId: 1234
                  sectionId: initial-data
                  data:
                    curp: GOCJ900520HDFRRN04
                    rfc: GODE561231GR8
                    firstName: JUAN
                    middleName: CARLOS
                    firstLastName: GÓMEZ
                    secondLastName: DÍAZ
                    dateOfBirth: 20/05/1990
                    gender: 1
                    nationality: MX
                    countryOfBirth: MX
                    stateOfBirth: CHS
                    cityOfBirth: '1214005'
                    ppe: false
                    foreignerWithoutCurp: false
                    bankAreaTypeId: '1'
                    contraTypeId: '1'
                    typeContractSubtypeId: '1'
              general-information:
                value:
                  clientId: 1234
                  sectionId: general-information
                  data:
                    personClassification: EMPLEADO
                    economicActivity: '882'
                    maritalStatus: 1
                    marriageType: 1
                    sector: '01'
                    actinverEmployee: true
                    employeeNumber: '98765'
                    occupation: '1'
                    profession: INGENIERO EN SISTEMAS
                    companyName: TECNOLOGÍAS XYZ
                    jobTitle: DESARROLLADOR SR.
                    companyPhone: '5544332211'
                    country: MX
                    street: CALLE REFORMA
                    externalNumber: '123'
                    internalNumber: 2B
                    postalCode: '06500'
                    federalEntity: CHS
                    city: '1214005'
                    municipality: '001'
                    website: HTTPS://WWW.EJEMPLO.COM
                    related: true
                    relationship: 1
                    institutionName: BBVA
                    fiel: ABCD123456XYZ
                    fielExpirationDate: 31/12/2027
                    banxicoAuthorization: true
                    nonGuaranteedByIPAB: CLAVE IPAB
                    acting: true
                    hasSupplier: false
                    operatesChanges: false
                    addressType: '1'
                    neighborhood: '1'
              address:
                value:
                  clientId: 1234
                  sectionId: address
                  data:
                    addressList:
                    - addressType: '1'
                      addressRole: '1'
                      country: MX
                      postalCode: '06500'
                      street: AV. JUÁREZ
                      externalNumber: '10'
                      internalNumber: 3A
                      federalEntity: CHS
                      municipality: '001'
                      neighborhood: '1'
                      city: '1214005'
                      geographicalArea: centro sur
                      deliveryCenter: EJEMPLO
                      timeLiveMexico: un año 10 meses
                      proofOfAddressType: '1'
                      addressProofIssueDate: 01/08/2025
                      expirationYear: 2025
                      reasonsOpeningContractMexico: porque si
                      other: ''
                      taxPostalCode: '06500'
                      isAddressResidenceSameTax: false
              beneficiaries:
                value:
                  clientId: 1234
                  sectionId: beneficiaries
                  data:
                    beneficiaries:
                    - curp: PELM950315MDFLRR05
                      rfc: PEL950315ABC
                      country: MX
                      firstName: MARÍA
                      middleName: ELENA
                      firstLastName: PÉREZ
                      secondLastName: LÓPEZ
                      dateOfBirth: 15/03/1995
                      gender: 1
                      relationship: 1
                      beneficiaryPercentage: 50
                      address:
                        addressType: '1'
                        country: MX
                        street: CALLE HIDALGO
                        externalNumber: '25'
                        internalNumber: '1'
                        postalCode: '06500'
                        federalEntity: CHS
                        municipality: '001'
                        neighborhood: '1'
                        city: '1214005'
              ppe-information:
                value:
                  clientId: 1234
                  sectionId: ppe-information
                  data:
                    ppeType: NACIONAL
                    positionHeld: EMPLEADO
                    expirationDate: 31/12/2026
                    isPpe: true
                    hasEconomicDependents: true
                    hasAssocioations: true
                    hasFamilyPpe: false
                    economicDependents:
                    - firstName: MARÍA
                      middleName: ELENA
                      firstLastName: PÉREZ
                      secondLastName: LÓPEZ
                      rfc: MXXX809732
                      curp: MXXX809732HDFRNM
                      dateOfBirth: 15/12/1980
                      addressType: '1'
                      other: ''
                      country: MX
                      street: CALLE HIDALGO
                      externalNumber: '25'
                      internalNumber: '1'
                      postalCode: '06500'
                      federalEntity: CHS
                      city: '1214005'
                      municipality: '001'
                      neighborhood: '1'
                      relationship: 1
                      nacionality: MX
                      phone: '5544554455'
                    associations:
                    - companyName: ABARRATES LA ESPERANZA
                      rfc: MXXX809732
                      commercialline: CONSULTORIA
                      economicActivity: '882'
                      administratorName: Carlos Perez Sanchez
                      nacionality: MX
                      addressType: '1'
                      other: ''
                      country: MX
                      street: CALLE HIDALGO
                      externalNumber: '25'
                      internalNumber: '1'
                      postalCode: '06500'
                      federalEntity: CHS
                      city: '1214005'
                      municipality: '001'
                      neighborhood: '1'
                      phone: '5544554455'
                    familyData:
                    - firstName: MARÍA
                      middleName: ELENA
                      firstLastName: PÉREZ
                      secondLastName: LÓPEZ
                      positionHeld: EMPLEADO
                      positionHeldEndDate: 23/08/2000
                      relationship: 1
                      nacionality: MX
                      rfc: MXXX809732
                      curp: MXXX809732HDFRNM
                      dateOfBirth: 15/12/1980
                      maritalStatus: 1
                      countryOfBirth: MX
                      federalEntity: CHS
                      city: '1214005'
              fiscal-self-declaration:
                value:
                  clientId: 1234
                  sectionId: fiscal-self-declaration
                  data:
                    mexicoResident: true
                    curp: GOCJ900520HDFRRN04
                    foreignWithoutCURP: false
                    rfc: GODE561231GR8
                    name: JUAN DIAZ
                    fiscalRegimeId: 12
                    cfdiUse: D06
                    taxPostalCode: '566024'
                    nationality: MX
                    country: MX
                    fiscalResidenceAbroad: true
                    facta: true
                    crs: true
                    tin: "836293750"
                    nss: "836293750"
                    fiscalResidences:
                    - personType: 1
                      country: MX
                      declarationFiscalResidence: false
                      proofOfAddressType: '1'
                      issueDate: 02/09/2025
                      expirationStatus: STATUS
                      expirationDate: 02/09/2025
                      certificationDate: 02/09/2025
                      declarationYear: 2025
                      aditionalDays: 1-99
                      factaObligations:
                        autentication: ID FISCAL EXTRANJERO
                        nss: "836293750"
                      activeFiscalDomicilie: true
              signature:
                value:
                  clientId: 1234
                  sectionId: signature
                  data:
                    signatureType: Solidaria
                    coHolders:
                    - curp: PASJ955022HDFRRN04
                      foreignerWithoutCurp: false
                      rfc: PASJ9550223
                      firstName: JOAQUIN
                      middleName: ''
                      firstLastName: PACHECO
                      secondLastName: SANTIAGO
                      dateOfBirth: 23/02/1995
                      gender: 2
                      maritalStatus: 1
                      nacionality: 1
                      countryOfBirth: MX
                      federalEntity: 1
                      relationship: 1
                      positionHeld: ''
                      positionHeldEndDate: ''
                      identificationType: 1
                      countryOfIdentification: MX
                      companyName: ''
                      jobTitle: ''
                      signatureType: A
                      IPABCoverage: 50%
                      incomeTaxWithholding: 50%
                      fiscalRegime: PF
                      SATRegisteredName: DANIEL MARTINEZ
                      useCFDI: ''
                      personPpe:
                        isPpe: true
                        ppeType: NACIONAL
                        positionHeld: JEFE DE GOBIERNO
                        positionEndDate: 24/12/2026
                        hasppeRelatives: true
                        ppeRelatives:
                        - rfc: WQJS12345RTS
                          firstName: CESAR
                          firstLastName: CAMPIA
                          relationship: 1
                          positionHeld: JEFE DE GOBIERNO
                          positionEndDate: 24/12/2026
                      residentialAddress:
                        country: MX
                        street: AV. JUÁREZ
                        externalNumber: '10'
                        internalNumber: ''
                        postalCode: '06500'
                        federalEntity: 1
                        municipality: 1
                        neighborhood: 1
                        geographicalArea: ''
                        deliveryCenter: ''
                      taxAddress:
                        country: MX
                        street: AV. JUÁREZ
                        externalNumber: '10'
                        internalNumber: ''
                        taxPostalCode: '06500'
                        federalEntity: 1
                        municipality: 1
                        neighborhood: 1
                        geographicalArea: ''
                        deliveryCenter: ''
                      contactData:
                        DataNonDisclosureLetter: false
                        registeredPhones:
                        - type: 1
                          country: MX
                          areaCode: '52'
                          phone: '5545319245'
                          extension: '7812'
                          notificationPhone: true
                        registeredEmails:
                        - emailAddress: DANIEL.MARTINEZ@CORREO.COM
                          notificationEmail: true
                    legalProxy:
                    - curp: LUPJ880512HDFRRN04
                      foreignerWithoutCurp: false
                      rfc: LUPJ8805123
                      firstName: LUIS
                      middleName: PABLO
                      firstLastName: LÓPEZ
                      secondLastName: SANTIAGO
                      dateOfBirth: 23/02/19995
                      gender: 2
                      maritalStatus: 1
                      nacionality: 1
                      countryOfBirth: MX
                      federalEntity: 1
                      identificationType: 1
                      countryOfIdentification: MX
                      nifTinNss: MADA81052
                      economicActivity: 1
                      occupation: 1
                      profession: 1
                      companyName: ''
                      jobTitle: ''
                      email: correo@personal.com
                      personPpe:
                        isPpe: true
                        ppeType: NACIONAL
                        positionHeld: JEFE DE GOBIERNO
                        positionEndDate: 24/12/2026
                        hasppeRelatives: true
                        ppeRelatives:
                        - rfc: WQJS12345RTS
                          firstName: CESAR
                          firstLastName: CAMPIA
                          relationship: 1
                          positionHeld: JEFE DE GOBIERNO
                          positionEndDate: 24/12/2026
                      residentialAddress:
                        country: MX
                        street: AV. JUÁREZ
                        externalNumber: '10'
                        internalNumber: ''
                        postalCode: '06500'
                        federalEntity: 1
                        municipality: 1
                        neighborhood: 1
                        geographicalArea: ''
                        deliveryCenter: ''
                      faculties:
                        faculties: false
                        domain: false
                        delegationPower: false
                        creditInstruments: false
                        powerToOpenAccounts: false
                        numberPropertyDeeds: ''
                        datePropertyDeeds: 18/02/1998
                        notaryName: ''
                        notarynumber: 0
                        protocolizationBranch: ''
                        limitationsOnAuthority: ''
              authorized-person:
                value:
                  clientId: 1234
                  sectionId: authorized-person
                  data:
                    authorizedPersons:
                    - curp: PAGS90223JHMCGNQ08
                      foreignWithoutCURP: false
                      rfc: PAGS90223
                      firstName: JOAQUIN
                      middleName: SEGUNDO
                      lastName: PACHECO
                      secondLastName: SANTIAGO
                      birthDate: 23/02/1995
                      gender: 1
                      maritalStatus: 1
                      nationality: MX
                      birthCountry: MX
                      federalEntity: 1
                      signatureClass: A
                      checkbookManagementAccess: true
                      relationship: 1
                      economicActivity: 1
                      occupation: 1
                      companyName: ''
                      jobTitle: ''
                    personPpe:
                      isPpe: true
                      ppeType: NACIONAL
                      positionHeld: JEFE DE GOBIERNO
                      positionEndDate: 24/12/2026
                      hasppeRelatives: true
                      ppeRelatives:
                      - rfc: WQJS12345RTS
                        firstName: CESAR
                        firstLastName: CAMPIA
                        relationship: 1
                        positionHeld: JEFE DE GOBIERNO
                        positionEndDate: 24/12/2026
                    residenceAddresses:
                    - addressType: 1
                      otherAddressType: OTRO TIPO
                      country: MX
                      street: JOSE A TORRES
                      externalNumber: '1234'
                      internalNumber: B-12
                      postalCode: '06500'
                      federalEntity: 1
                      municipality: '001'
                      neighborhood: PAULINO NAVARRO
                    contacts:
                    - type: CASA
                      country: MX
                      areaCode: '52'
                      phone: '5534923794'
                      extension: '7812'
                      emailAddress: CORREO@PERSONAL.COM
                    faculties:
                      signatureInstruction: 1 FIRMA A
                      otherSignatureInstruction: ''
              personal-interview:
                value:
                  clientId: 1234
                  sectionId: personal-interview
                  data:
                    date: 02/09/2025
                    interviewee: JUAN PEREZ
                    opening: Presencial
                    interviewLocation: Otro Domicilio
                    otherLocation: Domicilio
                    question1: true
                    question2: true
                    atypicalSituation: Prestanombres
                    question3: true
                    residence: Mexico
                    geographicalArea: Cerca del Centro Financiero
                    homeVisit: false
                    reason: NO ES CERCA
                    locality: Localidad ingresada
                    addressType: 1
                    matching address: true
                    ObservationsHomeVisit: Razones
                    customerKnowledge: Lo conozco de mucho tiempo
                    time: 3 meses
                    clientNumber: 24543
                    clientInvestmentAmount: No coincide con su nivel socioeconómico
                    initialInvestment: Transferencias internacionales
                    country: MX
                    moreInformationClient: Informacion
                    isPFWithBusinessActivity: true
                    lowRisk:
                      companyName: EMPRESA
                      jobTitle: PUESTO
                      timeWorking: 3 meses
                    mediumnRisk:
                      initialInvestmentInActinver: Otras cuentas bancarias a su nombre
                      relationship: 3
                      justificationInitialInvestment: true
                    highRisk:
                      productsOffered: PRODUCTOS OFRECIDOS
                      inventory: true
              bank-account:
                value:
                  clientId: 1234567890
                  sectionId: bank-account
                  data:
                    bankAccounts:
                    - accountType: '1'
                      currency: '1'
                      domiciledIn: MX
                      accountStatus: '2'
                      isThirdParty: false
                      paymentMethodDocument: false
                      paymentMethodElectronic: true
                      maxAmount: '100000'
                      bank: '28710'
                      alias: ALIAS CUENTA
                      beneficiaries:
                      - beneficiaryName: '1'
                        accountNumberIban: 00012345678901234567
                        clabe: 012345678901234567
                      - beneficiaryName: '2'
                        accountNumberIban: 00098765432109876543
                        clabe: '765432109876543210'
                      plaza: '001'
                      branchName: '1'
                      reference: REFERENCIA XYZ
                      concept: CONCEPTO EJEMPLO
                      intermediaryBank: BANCO INTERMEDIARIO EJEMPLO
                      subaccountHolder: TITULAR SUBACCOUNT EJEMPLO
                      subaccountKey: CLAVE SUBACCOUNT
                      branch: '1'
              privacy-notice:
                value:
                  clientId: 1234
                  sectionId: privacy-notice
                  data:
                    marketing:
                      marketingConsent: true
                      advertisingConsentActinverGroup: true
                      rejectFinancialOffersFromActinver: true
                    privacyNotice:
                      consentToPrimaryDataProcessing: true
                      consentToSecondaryUse: true
                      consentToMarketingContactAndDataTransfer: true
              exchange-operation:
                value:
                  clientId: 1234
                  sectionId: exchange-operation
                  data:
                    fxOperationReasons:
                      fxMetalsInvestments: true
                      curreencyTrading: true
                      importExport: 
                        isImportExport: true
                        countryOrigin: MX
                        countryDestination: US
                      personalFundsReceipt:
                        isPersonalFundsReceipt: true
                        originCountry: MX
                    fxOperationsDetails:
                      transactionType:
                        cash:
                          isChash: true
                          mounthlyCashTransactions: 1
                          mounthlyCashAmount: 1
                        transfer:
                          isTransfer: true
                          mounthlyTransferTransactions: 1
                          mounthlyTransferAmount: 1
                        document:
                          isDocument: true
                          mounthlyDocumentTransactions: 1
                          mounthlyDocumentAmount: 1
                        travelerCheck:
                          isTravelerCheck: true
                          mounthlyTravelerCheckTransactions: 1
                          mounthlyTravelerCheckAmount: 1
                      coinMetalType:
                        gold:
                          isGold: true
                          mounthlyGoldTransactions: 1
                          mounthlyGoldAmount: 1
                        silver:
                          isSilver: true
                          mounthlySilverTransactions: 1
                          mounthlySilverAmount: 1
                        other:
                          isOther: true
                          otherMetalType: PLATINUM
                          mounthlyOtherTransactions: 1
                          mounthlyOtherAmount: 1
              real-owner:
                value:
                  clientId: 1234
                  sectionId: real-owner
                  data:
                    generalData:
                      foreignWithoutCURP: false
                      curp: PELM950315MDFLRR05
                      rfc: PELM950315XXX
                      nif: 
                      tin: 
                      nss:
                      country: MX
                      firstName: PEDRO
                      middleName: ELENA
                      firstLastName: LÓPEZ
                      secondLastName: MARTÍNEZ
                      dateOfBirth: 15/03/1995
                      gender: 1
                      nacionality: MX
                      countryOfBirth: MX
                      federalEntity: CHS
                      relationship: 1
                      economicActivity: '882'
                      fiel: ABCD123456XYZ
                      fielExpirationDate: 31/12/2027
                      phone: 5544332211
                      email: PEDRO.LOPEZ@CORREO.COM
                    personPpe:
                        isPpe: true
                        ppeType: NACIONAL
                        positionHeld: JEFE DE GOBIERNO
                        positionEndDate: 24/12/2026
                        hasppeRelatives: true
                        ppeRelatives:
                        - rfc: WQJS12345RTS
                          nif: 
                          tin: 
                          nss:
                          firstName: CESAR
                          firstLastName: CAMPIA
                          relationship: 1
                          positionHeld: JEFE DE GOBIERNO
                          positionEndDate: 24/12/2026
                    addressRealOwner:
                      addressType: '1'
                      other: ''
                      country: MX
                      postalCode: 06500
                      federalEntity: CHS
                      city: '1214005'
                      municipality: '001'
                      neighborhood: 1
                      street: AV. JUÁREZ
                      externalNumber: 10
                      internalNumber: 3A
              resource-provider:
                value:
                  clientId: 1234
                  sectionId: resource-provider
                  data:
                    generalData:
                      personType: '1'
                      curp: GOCJ900520HDFRRN04
                      foreignerWithoutCurp: false
                      rfc: GODE561231GR8
                      nif:
                      tin:
                      nss:
                      country: MX
                      firstName: JUAN
                      middleName: CARLOS
                      firstLastName: GÓMEZ
                      secondLastName: DÍAZ
                      dateOfBirth: 20/05/1990
                      gender: 1
                      nacionality: MX
                      countryOfBirth: MX
                      federalEntity: CHS
                      relationship: 1
                      economicActivity: '882'
                      fiel: ABCD123456XYZ
                      phone: '55551234'
                      email: JUAN.PEREZ@CORREO.COM
                    personPpe:
                        isPpe: true
                        ppeType: NACIONAL
                        positionHeld: JEFE DE GOBIERNO
                        positionEndDate: 24/12/2026
                        hasppeRelatives: true
                        ppeRelatives:
                        - rfc: WQJS12345RTS
                          nif: 
                          tin: 
                          nss:
                          firstName: CESAR
                          firstLastName: CAMPIA
                          relationship: 1
                          positionHeld: JEFE DE GOBIERNO
                          positionEndDate: 24/12/2026
                    resourceProviderAddress:
                      addressType: '1'
                      other: ''
                      country: MX
                      postalCode: '06500'
                      federalEntity: CHS
                      city: '1214005'
                      municipality: '001'
                      neighborhood: '1'
                      street: AV. JUÁREZ
                      externalNumber: '10'
                      internalNumber: 3A
      responses:
        '201':
          description: Checkpoint created or updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  checkpointId:
                    type: string
                    example: '1234567890'
                  sectionId:
                    type: string
                    example: datos-iniciales
              examples:
                bank-account:
                  value:
                    checkpointId: '1234567890'
                    sectionId: bank-account
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        '401':
          description: JWT is expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              example:
                status: 401
                appCode: CROSS-SUPPORT-E-401
                messages:
                - JWT IS EXPIRED
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              example:
                status: 403
                appCode: CROSS-SUPPORT-E-403
                messages:
                - FORBIDDEN
        '404':
          description: Resource not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              example:
                status: 404
                appCode: CROSS-SUPPORT-E-404
                messages:
                - RESOURCE NOT FOUND
        '412':
          description: Precondition failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              example:
                status: 412
                appCode: CROSS-SUPPORT-E-412
                messages:
                - PRECONDITION FAILED
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              example:
                status: 500
                appCode: SPINE-MS_CROSS_SUPPORT-CATALOGS-500
                messages:
                - ERROR EN EL TRATAMIENTO DE SERVICIO WEB; MÁS DETALLES EN LOG DE
                  ERROR DE SERVICIO WEB EN LA PÁGINA DE PROVEEDOR (CRONOMARCADOR UTC
                  20220816151711; ID DE TRANSACCIÓN B742632CC2C200A0E0062ED2ACC62E94)
  /cross/kyc/validation/watchlist:
    post:
      tags:
      - kyc
      summary: Returns the result of validating whether the potential customer is on any validation list.
      description: Returns the result of validating whether the potential customer is on any validation list.
      operationId: watchlist
      parameters:
      - in: header
        name: Content-Type
        schema:
          type: string
          example: APPLICATION/JSON
        required: true
      - in: header
        name: Authorization
        schema:
          type: string
          example: BEARER EYJHBGCIOIJIUZI1NIISINR5CCI6IKPXVCJ9.EYJZDWIIOIIXMJM0NTY3ODKWIIWIBMFTZSI6IKPVAG4GRG9LIIWIAWF0IJOXNTE2MJM5MDIYFQ.SFLKXWRJSMEKKF2QT4FWPMEJF36POK6YJV_ADQSSW5C
        required: true
      - in: header
        name: Cookie
        schema:
          type: string
          example: SESSIONID=ABC123
        required: true
      requestBody:
        description: Valid search parameters.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/prospectiveRequest'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/watchlistValidationResponse'
              example:
                status: 200
                messages:
                - CUSTOMER IS ON WATCHLIST
                payload:
                  isOnWatchlist: true
                  step: 1
                  matchLists:
                  - companyName: EMPRESAA
                    name: LUIS
                    lastname: ALVAREZ
                    secondLastName: GUTIERREZ
                    tin: 1
                    curp: LISO680724HSLMNV03
                    type: OFAC
                    matchPercentage: 59
                    personStatus: 1
                  - companyName: EMPRESAB
                    name: MARIA
                    lastname: LOPEZ
                    secondLastName: PEREZ
                    tin: 2
                    curp: LOPE680724HSLMNV04
                    type: PPE
                    matchPercentage: 75
                    personStatus: 2
                  - companyName: EMPRESAC
                    name: JUAN
                    lastname: MARTINEZ
                    secondLastName: SANCHEZ
                    tin: 3
                    curp: MART680724HSLMNV05
                    type: UN
                    matchPercentage: 80
                    personStatus: 3
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        '401':
          description: JWT is expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              example:
                status: 401
                appCode: CROSS-SUPPORT-E-401
                messages:
                - JWT IS EXPIRED
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              example:
                status: 403
                appCode: CROSS-SUPPORT-E-403
                messages:
                - FORBIDDEN
        '404':
          description: Resource not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              example:
                status: 404
                appCode: CROSS-SUPPORT-E-404
                messages:
                - RESOURCE NOT FOUND
        '412':
          description: Precondition failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              example:
                status: 412
                appCode: CROSS-SUPPORT-E-412
                messages:
                - PRECONDITION FAILED
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              example:
                status: 500
                appCode: SPINE-MS_CROSS_SUPPORT-CATALOGS-500
                messages:
                - ERROR EN EL TRATAMIENTO DE SERVICIO WEB; MÁS DETALLES EN LOG DE ERROR DE SERVICIO WEB EN LA PÁGINA DE PROVEEDOR (CRONOMARCADOR UTC 20220816151711; ID DE TRANSACCIÓN B742632CC2C200A0E0062ED2ACC62E94)
  /transfers/catalogs/banks:
    post:
      tags:
        - transfer
      summary: Get banks catalog
      description: Get banks catalog
      operationId: getBanks
      parameters:
        - in: header
          name: Content-Type
          schema:
            type: string
            example: APPLICATION/JSON
          required: true
        - in: header
          name: Authorization
          schema:
            type: string
            example: BEARER EYJHBGCIOIJIUZI1NIISINR5CCI6IKPXVCJ9.EYJZDWIIOIIXMJM0NTY3ODKWIIWIBMFTZSI6IKPVAG4GRG9LIIWIAWF0IJOXNTE2MJM5MDIYFQ.SFLKXWRJSMEKKF2QT4FWPMEJF36POK6YJV_ADQSSW5C
          required: true
        - in: header
          name: Cookie
          schema:
            type: string
            example: SESSIONID=ABC123
          required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/banksResponse'
              example:
                status: 200
                messages:
                - SUCCESS
                payload:
                  messages:
                    - type: 'N'
                      criticality: 'INFO'
                      code: 'LTABC0000000'
                      message: 'OK'
                  bank:
                  - id: '002'
                    description: BANAMEX
                  - id: '012'
                    description: BBVA
                  - id: '014'
                    description: SANTANDER
                  - id: '021'
                    description: HSBC
                  - id: '030'
                    description: BAJIO
                  - id: '032'
                    description: IXE
                  - id: '036'
                    description: INBURSA
                  - id: '037'
                    description: BANREGIO
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        '401':
          description: JWT is expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              example:
                status: 401
                appCode: CROSS-SUPPORT-E-401
                messages:
                - JWT IS EXPIRED
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              example:
                status: 403
                appCode: CROSS-SUPPORT-E-403
                messages:
                - FORBIDDEN
        '404':
          description: Resource not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              example:
                status: 404
                appCode: CROSS-SUPPORT-E-404
                messages:
                - RESOURCE NOT FOUND
        '412':
          description: Precondition failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              example:
                status: 412
                appCode: CROSS-SUPPORT-E-412
                messages:
                - PRECONDITION FAILED
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              example:
                status: 500
                appCode: SPINE-MS_CROSS_SUPPORT-CATALOGS-500
                messages:
                - ERROR EN EL TRATAMIENTO DE SERVICIO WEB; MÁS DETALLES EN LOG DE ERROR DE SERVICIO WEB EN LA PÁGINA DE PROVEEDOR (CRONOMARCADOR UTC 20220816151711; ID DE TRANSACCIÓN B742632CC2C200A0E0062ED2ACC62E94)
  /cross/catalogs/service-type:
    post:
      tags:
        - catalogs
      summary: Get service type catalog
      description: Get service type catalog
      operationId: getServiceType
      parameters:
        - in: header
          name: Content-Type
          schema:
            type: string
            example: APPLICATION/JSON
          required: true
        - in: header
          name: Authorization
          schema:
            type: string
            example: BEARER EYJHBGCIOIJIUZI1NIISINR5CCI6IKPXVCJ9.EYJZDWIIOIIXMJM0NTY3ODKWIIWIBMFTZSI6IKPVAG4GRG9LIIWIAWF0IJOXNTE2MJM5MDIYFQ.SFLKXWRJSMEKKF2QT4FWPMEJF36POK6YJV_ADQSSW5C
          required: true
        - in: header
          name: Cookie
          schema:
            type: string
            example: SESSIONID=ABC123
          required: true
      requestBody:
        description: Valid search parameters.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/serviceTypeRequest'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/serviceTypeResponse'
                example:
                  - serviceTypeCve: '1'
                    serviceType: ASESORADO
                  - serviceTypeCve: '2'
                    serviceType: NO ASESORADO
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        '401':
          description: JWT is expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              example:
                status: 401
                appCode: CROSS-SUPPORT-E-401
                messages:
                - JWT IS EXPIRED
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              example:
                status: 403
                appCode: CROSS-SUPPORT-E-403
                messages:
                - FORBIDDEN
        '404':
          description: Resource not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              example:
                status: 404
                appCode: CROSS-SUPPORT-E-404
                messages:
                - RESOURCE NOT FOUND
        '412':
          description: Precondition failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              example:
                status: 412
                appCode: CROSS-SUPPORT-E-412
                messages:
                - PRECONDITION FAILED
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              example:
                status: 500
                appCode: SPINE-MS_CROSS_SUPPORT-CATALOGS-500
                messages:
                - ERROR EN EL TRATAMIENTO DE SERVICIO WEB; MÁS DETALLES EN LOG DE ERROR DE SERVICIO WEB EN LA PÁGINA DE PROVEEDOR (CRONOMARCADOR UTC 20220816151711; ID DE TRANSACCIÓN B742632CC2C200A0E0062ED2ACC62E94)
  /cross/catalogs/service-subtype:
    post:
      tags:
        - catalogs
      summary: Get service subtype catalog
      description: Get service subtype catalog
      operationId: getServiceSubType
      parameters:
        - in: header
          name: Content-Type
          schema:
            type: string
            example: APPLICATION/JSON
          required: true
        - in: header
          name: Authorization
          schema:
            type: string
            example: BEARER EYJHBGCIOIJIUZI1NIISINR5CCI6IKPXVCJ9.EYJZDWIIOIIXMJM0NTY3ODKWIIWIBMFTZSI6IKPVAG4GRG9LIIWIAWF0IJOXNTE2MJM5MDIYFQ.SFLKXWRJSMEKKF2QT4FWPMEJF36POK6YJV_ADQSSW5C
          required: true
        - in: header
          name: Cookie
          schema:
            type: string
            example: SESSIONID=ABC123
          required: true
      requestBody:
        description: Valid search parameters.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/servieSubTypeRequest'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/serviceSubTypeResponse'
                example:
                  - serviceSubTypeCve: '1'
                    serviceSubType: ASESORIA DE INVERSION
                  - serviceSubTypeCve: '2'
                    serviceSubType: GESTION DE INVERSION
                  - serviceSubTypeCve: '3'
                    serviceSubType: EJECUCION DE OPERACIONES
                  - serviceSubTypeCve: '4'
                    serviceSubType: COMERCIALIZACION O PROMOCION
                  - serviceSubTypeICve: '5'
                    serviceSubType: ROBOADVISOR
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        '401':
          description: JWT is expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              example:
                status: 401
                appCode: CROSS-SUPPORT-E-401
                messages:
                - JWT IS EXPIRED
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              example:
                status: 403
                appCode: CROSS-SUPPORT-E-403
                messages:
                - FORBIDDEN
        '404':
          description: Resource not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              example:
                status: 404
                appCode: CROSS-SUPPORT-E-404
                messages:
                - RESOURCE NOT FOUND
        '412':
          description: Precondition failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              example:
                status: 412
                appCode: CROSS-SUPPORT-E-412
                messages:
                - PRECONDITION FAILED
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              example:
                status: 500
                appCode: SPINE-MS_CROSS_SUPPORT-CATALOGS-500
                messages:
                - ERROR EN EL TRATAMIENTO DE SERVICIO WEB; MÁS DETALLES EN LOG DE ERROR DE SERVICIO WEB EN LA PÁGINA DE PROVEEDOR (CRONOMARCADOR UTC 20220816151711; ID DE TRANSACCIÓN B742632CC2C200A0E0062ED2ACC62E94)
  /cross/catalogs/person-rol:
    post:
      tags:
        - catalogs
      summary: Get person rol catalog
      description: Get person rol catalog
      operationId: getPersonRol
      parameters:
        - in: header
          name: Content-Type
          schema:
            type: string
            example: APPLICATION/JSON
          required: true
        - in: header
          name: Authorization
          schema:
            type: string
            example: BEARER EYJHBGCIOIJIUZI1NIISINR5CCI6IKPXVCJ9.EYJZDWIIOIIXMJM0NTY3ODKWIIWIBMFTZSI6IKPVAG4GRG9LIIWIAWF0IJOXNTE2MJM5MDIYFQ.SFLKXWRJSMEKKF2QT4FWPMEJF36POK6YJV_ADQSSW5C
          required: true
        - in: header
          name: Cookie
          schema:
            type: string
            example: SESSIONID=ABC123
          required: true
      requestBody:
        description: Valid search parameters.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/personRolRequest'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/personRolResponse'
                example:
                  - personRolCve: 'ACC001'
                    personRol: TIENE EL ACCIONISTA RELACIONADO
                  - personRolCve: 'ACSOC0'
                    personRol: TIENE AL ACCIONISTA O SOCIO RELACIONADO
                  - personRolCve: 'ADMIN0'
                    personRol: TIENE AL ADMINISTRADOR EJERCE CONTROL RELACIONADO
                  - personRolCve: 'APO001'
                    personRol: TIENE EL APODERADO RELACIONADO
                  - personRolCve: 'AVA001'
                    personRol: TIENE EL AVAL RELACIONADO
                  - personRolCve: 'BENEF0'
                    personRol: TIENE EL BENEFICIARIO RELACIONADO
                  - personRolCve: 'BUR001'
                    personRol: TIENE LA PERSONA DE CONTACTO
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        '401':
          description: JWT is expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              example:
                status: 401
                appCode: CROSS-SUPPORT-E-401
                messages:
                - JWT IS EXPIRED
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              example:
                status: 403
                appCode: CROSS-SUPPORT-E-403
                messages:
                - FORBIDDEN
        '404':
          description: Resource not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              example:
                status: 404
                appCode: CROSS-SUPPORT-E-404
                messages:
                - RESOURCE NOT FOUND
        '412':
          description: Precondition failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              example:
                status: 412
                appCode: CROSS-SUPPORT-E-412
                messages:
                - PRECONDITION FAILED
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              example:
                status: 500
                appCode: SPINE-MS_CROSS_SUPPORT-CATALOGS-500
                messages:
                - ERROR EN EL TRATAMIENTO DE SERVICIO WEB; MÁS DETALLES EN LOG DE ERROR DE SERVICIO WEB EN LA PÁGINA DE PROVEEDOR (CRONOMARCADOR UTC 20220816151711; ID DE TRANSACCIÓN B742632CC2C200A0E0062ED2ACC62E94)
  /cross/catalogs/account-rol:
    post:
      tags:
        - catalogs
      summary: Get account rol catalog
      description: Get account rol catalog
      operationId: getAccountRol
      parameters:
        - in: header
          name: Content-Type
          schema:
            type: string
            example: APPLICATION/JSON
          required: true
        - in: header
          name: Authorization
          schema:
            type: string
            example: BEARER EYJHBGCIOIJIUZI1NIISINR5CCI6IKPXVCJ9.EYJZDWIIOIIXMJM0NTY3ODKWIIWIBMFTZSI6IKPVAG4GRG9LIIWIAWF0IJOXNTE2MJM5MDIYFQ.SFLKXWRJSMEKKF2QT4FWPMEJF36POK6YJV_ADQSSW5C
          required: true
        - in: header
          name: Cookie
          schema:
            type: string
            example: SESSIONID=ABC123
          required: true
      requestBody:
        description: Valid search parameters.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/accountRolRequest'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/accountRolResponse'
                example:
                  - accountRolCve: 'TIT001'
                    accountRol: TITULAR
                  - accountRolCve: 'CON001'
                    accountRol: CONYUGE
                  - accountRolCve: 'REP001'
                    accountRol: REPRESENTANTE LEGAL
                  - accountRolCve: 'APO001'
                    accountRol: APODERADO
                  - accountRolCve: 'BEN001'
                    accountRol: BENEFICIARIO
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        '401':
          description: JWT is expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              example:
                status: 401
                appCode: CROSS-SUPPORT-E-401
                messages:
                - JWT IS EXPIRED
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              example:
                status: 403
                appCode: CROSS-SUPPORT-E-403
                messages:
                - FORBIDDEN
        '404':
          description: Resource not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              example:
                status: 404
                appCode: CROSS-SUPPORT-E-404
                messages:
                - RESOURCE NOT FOUND
        '412':
          description: Precondition failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              example:
                status: 412
                appCode: CROSS-SUPPORT-E-412
                messages:
                - PRECONDITION FAILED
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              example:
                status: 500
                appCode: SPINE-MS_CROSS_SUPPORT-CATALOGS-500
                messages:
                - ERROR EN EL TRATAMIENTO DE SERVICIO WEB; MÁS DETALLES EN LOG DE ERROR DE SERVICIO WEB EN LA PÁGINA DE PROVEEDOR (CRONOMARCADOR UTC 20220816151711; ID DE TRANSACCIÓN B742632CC2C200A0E0062ED2ACC62E94)
  /cross/catalogs/fiscal-certificate:
    post:
      tags:
        - catalogs
      summary: Get fiscal certificate catalog
      description: Get fiscal certificate catalog
      operationId: getFiscalCertificate
      parameters:
        - in: header
          name: Content-Type
          schema:
            type: string
            example: APPLICATION/JSON
          required: true
        - in: header
          name: Authorization
          schema:
            type: string
            example: BEARER EYJHBGCIOIJIUZI1NIISINR5CCI6IKPXVCJ9.EYJZDWIIOIIXMJM0NTY3ODKWIIWIBMFTZSI6IKPVAG4GRG9LIIWIAWF0IJOXNTE2MJM5MDIYFQ.SFLKXWRJSMEKKF2QT4FWPMEJF36POK6YJV_ADQSSW5C
          required: true
        - in: header
          name: Cookie
          schema:
            type: string
            example: SESSIONID=ABC123
          required: true
      requestBody:
        description: Valid search parameters.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/fiscalCertificateRequest'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/fiscalCertificateResponse'
                example:
                  - fiscalCertificateCve: '1'
                    fiscalCertificate: XX TRIBUTA EN MÉXICO
                  - fiscalCertificateCve: '2'
                    fiscalCertificate: XX01 TRIBUTA EN EL EXTRANJERO
                  - fiscalCertificateCve: '3'
                    fiscalCertificate: XX02 NO TRIBUTA EN MÉXICO
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        '401':
          description: JWT is expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              example:
                status: 401
                appCode: CROSS-SUPPORT-E-401
                messages:
                - JWT IS EXPIRED
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              example:
                status: 403
                appCode: CROSS-SUPPORT-E-403
                messages:
                - FORBIDDEN
        '404':
          description: Resource not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              example:
                status: 404
                appCode: CROSS-SUPPORT-E-404
                messages:
                - RESOURCE NOT FOUND
        '412':
          description: Precondition failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              example:
                status: 412
                appCode: CROSS-SUPPORT-E-412
                messages:
                - PRECONDITION FAILED
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              example:
                status: 500
                appCode: SPINE-MS_CROSS_SUPPORT-CATALOGS-500
                messages:
                - ERROR EN EL TRATAMIENTO DE SERVICIO WEB; MÁS DETALLES EN LOG DE ERROR DE SERVICIO WEB EN LA PÁGINA DE PROVEEDOR (CRONOMARCADOR UTC 20220816151711; ID DE TRANSACCIÓN B742632CC2C200A0E0062ED2ACC62E94)
  /cross/catalogs/impresion-kit:
    post:
      tags:
        - catalogs
      summary: Get impresion kit catalog
      description: Get impresion kit catalog
      operationId: getImpresionKit
      parameters:
        - in: header
          name: Content-Type
          schema:
            type: string
            example: APPLICATION/JSON
          required: true
        - in: header
[...]
