openapi: 3.0.3
info:
  title: MS - SPINE MOCK
  description: This a sample MS SPINE Server based on the OpenAPI 3.0 specification.
    You can explore the paths for Customers API and check the request and response
    of all services.
  termsOfService: https://swagger.io/terms/
  contact:
    email: cramosmon@minsait.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: '1.0'
externalDocs:
  description: Find out more about Swagger
  url: https://swagger.io
servers:
- url: https://develop-api.actinver.com.mx
tags:
- name: catalogs
  description: API for Catalogs SPINE
paths:
  /prospects/checkpoint:
    post:
      summary: Create or update checkpoint
      description: Saves the information of a specific tab in the onboarding process
      tags:
      - checkpoint
      operationId: createOrUpdateCheckpoint
      parameters:
      - in: header
        name: Content-Type
        schema:
          type: string
          example: application/json
        required: true
      - in: header
        name: Authorization
        schema:
          type: string
          example: BEARER EYJHBGCIOIJIUZI1NIISINR5CCI6IKPXVCJ9.EYJZDWIIOIIXMJM0NTY3ODKWIIWIBMFTZSI6IKPVAG4GRG9LIIWIAWF0IJOXNTE2MJM5MDIYFQ.SFLKXWRJSMEKKF2QT4FWPMEJF36POK6YJV_ADQSSW5C
        required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/checkpointRequest'
            examples:
              identification:
                value:
                  clientId: "1234" # OBLIGATORIO
                  sectionId: identification-contact # OBLIGATORIO
                  data:
                    identifications:
                    - country: MX # OBLIGATORIO
                      identificationType: '1' # OBLIGATORIO
                      identificationNumber: ABC1234567 # OBLIGATORIO
                      expirationDate: 31/12/2028
                  manifestLetter: false # SI ES TRUE LOS DATOS DE CONTACTO SE VUELVEN OPCIONALES
                  telephones:
                  - type: '1' # OBLIGATORIO
                    country: MX # OBLIGATORIO
                    areaCode: '+52'
                    phone: '55551234' # OBLIGATORIO
                    extension: '123'
                    notificationPhone: true
                  emails:
                  - emailAddress: JUAN.PEREZ@CORREO.COM # OBLIGATORIO
                    notificationEmail: true
              initial-data:
                value:
                  sectionId: initial-data  # OBLIGATORIO
                  data:
                    curp: GOCJ900520HDFRRN04
                    foreignerWithoutCurp: false # SI ES TRUE UNO DE (RFC, TIN, NIF, NSS) DEBE DE SER OBLIGATORIO
                    rfc: GODE561231GR8  # OBLIGATORIO
                    nif: ASDASFASD12 # OBLIGATORIO
                    tin: 999-99-9999 # OBLIGATORIO
                    nss: 12-34-56-7890-1 # OBLIGATORIO
                    firstName: JUAN # OBLIGATORIO
                    middleName: CARLOS
                    firstLastName: GÓMEZ
                    secondLastName: DÍAZ
                    dateOfBirth: 20/05/1990
                    gender: 1 # OBLIGATORIO
                    nationality: MX # OBLIGATORIO
                    countryOfBirth: MX # OBLIGATORIO
                    stateOfBirth: CHS # OBLIGATORIO
                    cityOfBirth: '1214005' # OBLIGATORIO
                    ppe: false
                    bankAreaTypeId: '1' # OBLIGATORIO
                    contraTypeId: '1' # OBLIGATORIO
                    typeContractSubtypeId: '1' # OBLIGATORIO
              general-information:
                value:
                  clientId: "1234"
                  sectionId: general-information
                  data:
                    personClassification: EMPLEADO # OBLIGATORIO
                    economicActivity: '882' # OBLIGATORIO
                    maritalStatus: 1 # OBLIGATORIO
                    marriageType: 1 # OBLIGATORIO
                    sector: '01' # OBLIGATORIO
                    actinverEmployee: true # OBLIGATORIO
                    employeeNumber: '98765'
                    occupation: '1'
                    profession: INGENIERO EN SISTEMAS
                    companyName: TECNOLOGÍAS XYZ
                    jobTitle: DESARROLLADOR SR.
                    companyPhone: '5544332211'
                    country: MX # OBLIGATORIO
                    street: CALLE REFORMA # OBLIGATORIO
                    externalNumber: '123' # OBLIGATORIO
                    internalNumber: 2B
                    postalCode: '06500' # OBLIGATORIO
                    federalEntity: CHS # OBLIGATORIO
                    city: '1214005' # OBLIGATORIO
                    municipality: '001' # OBLIGATORIO
                    website: HTTPS://WWW.EJEMPLO.COM # OBLIGATORIO
                    related: true # OBLIGATORIO
                    relationship: 1
                    institutionName: BBVA
                    fiel: ABCD123456XYZ
                    fielExpirationDate: 31/12/2027 # OBLIGATORIO
                    banxicoAuthorization: true
                    nonGuaranteedByIPAB: CLAVE IPAB
                    acting: true # OBLIGATORIO
                    hasSupplier: false # OBLIGATORIO
                    operatesChanges: false # OBLIGATORIO
                    addressType: '1' # OBLIGATORIO
                    neighborhood: '1' # OBLIGATORIO
              address:
                value:
                  clientId: "1234" # OBLIGATORIO
                  sectionId: address # OBLIGATORIO
                  data:
                    addressList:
                    - addressType: '1' # OBLIGATORIO
                      addressRole: '1' # OBLIGATORIO
                      country: MX # OBLIGATORIO
                      postalCode: '06500' # OBLIGATORIO
                      street: AV. JUÁREZ # OBLIGATORIO
                      externalNumber: '10' # OBLIGATORIO
                      internalNumber: 3A
                      federalEntity: CHS # OBLIGATORIO
                      municipality: '001' # OBLIGATORIO
                      neighborhood: '1' # OBLIGATORIO
                      city: '1214005' # OBLIGATORIO
                      geographicalArea: centro sur
                      deliveryCenter: EJEMPLO
                      timeLiveMexico: un año 10 meses # OBLIGATORIO
                      proofOfAddressType: '1' # OBLIGATORIO
                      addressProofIssueDate: 01/08/2025 # OBLIGATORIO
                      expirationYear: 2025
                      reasonsOpeningContractMexico: porque si
                      other: ''
                      taxPostalCode: '06500' # OBLIGATORIO --> posibilidad de que solo si addressRole es residencia
                      isAddressResidenceSameTax: false # OBLIGATORIO --> solo si addressRole es residencia
              beneficiaries: #BENEFICIARIO
                value:
                  clientId: "1234" # OBLIGATORIO
                  sectionId: beneficiaries # OBLIGATORIO
                  data:
                    beneficiaries:
                    - curp: PELM950315MDFLRR05
                      foreignWithoutCURP: false # SI ES TRUE (RFC,NIF,TIN,NSS) ES OBLIGATORIO ALGUNO DE ESTOS
                      rfc: PEL950315ABC # OBLIGATORIO
                      nif: ASDASFASD12 # OBLIGATORIO
                      tin: 999-99-9999 # OBLIGATORIO
                      nss: 12-34-56-7890-1 # OBLIGATORIO
                      country: MX # pais de nacimiento
                      firstName: MARÍA # OBLIGATORIO
                      middleName: ELENA
                      firstLastName: PÉREZ
                      secondLastName: LÓPEZ
                      dateOfBirth: 15/03/1995  # OBLIGATORIO # fecha de nacimiento
                      gender: 1 # OBLIGATORIO
                      relationship: 1 # OBLIGATORIO
                      beneficiaryPercentage: 50%
                      maritalStatus: "12" # campo agregado por comentario en correo pero no esta contemplatdo en HU ni Figma
                      nationality: "124" # campo agregado por comentario en correo pero no esta contemplatdo en HU ni Figma
                      federalEntity: "12" # campo agregado por comentario en correo pero no esta contemplatdo en HU ni Figma
                      address:
                        addressType: '1' # OBLIGATORIO
                        other: "otro tipo de domicilio"
                        country: MX # OBLIGATORIO
                        street: CALLE HIDALGO # OBLIGATORIO
                        externalNumber: '25' # OBLIGATORIO
                        internalNumber: '1'
                        postalCode: '06500' # OBLIGATORIO
                        federalEntity: CHS # OBLIGATORIO
                        municipality: '001' # OBLIGATORIO
                        neighborhood: '1' # OBLIGATORIO
                        city: '1214005' # OBLIGATORIO
              ppe-information:
                value:
                  clientId: "1234" # OBLIGATORIO
                  sectionId: ppe-information # OBLIGATORIO
                  data:
                    ppeType: NACIONAL
                    positionHeld: EMPLEADO # OBLIGATORIO solo si es ppe
                    expirationDate: 31/12/2026
                    isPpe: true # OBLIGATORIO
                    hasEconomicDependents: true # OBLIGATORIO
                    hasAssocioations: true # OBLIGATORIO
                    hasFamilyPpe: false # OBLIGATORIO
                    economicDependents:
                    - firstName: MARÍA # OBLIGATORIO
                      middleName: ELENA
                      firstLastName: PÉREZ
                      secondLastName: LÓPEZ
                      rfc: MXXX809732 # OBLIGATORIO
                      curp: MXXX809732HDFRNM # OBLIGATORIO
                      foreignerWithoutCurp: false         
                      maritalStatus: '1'   
                      occupation: '1'
                      economicActivity: '1' # OBLIGATORIO
                      nif: '' # OBLIGATORIO              
                      tin: '' # OBLIGATORIO             
                      nss: '' # OBLIGATORIO
                      dateOfBirth: 15/12/1980 # OBLIGATORIO
                      addressType: '1' # OBLIGATORIO
                      other: ''
                      country: MX # OBLIGATORIO
                      street: CALLE HIDALGO # OBLIGATORIO
                      externalNumber: '25' # OBLIGATORIO
                      internalNumber: '1'
                      postalCode: '06500' # OBLIGATORIO
                      federalEntity: CHS # OBLIGATORIO
                      city: '1214005' # OBLIGATORIO
                      municipality: '001' # OBLIGATORIO
                      neighborhood: '1' # OBLIGATORIO
                      relationship: 1 # OBLIGATORIO
                      nacionality: MX # OBLIGATORIO
                      phone: '5544554455' # OBLIGATORIO
                    associations:
                    - companyName: ABARRATES LA ESPERANZA # OBLIGATORIO
                      rfc: MXXX809732 # OBLIGATORIO
                      nif: nif # OBLIGATORIO
                      tin: tin # OBLIGATORIO
                      nss: nss # OBLIGATORIO
                      constitutionDate: 12/12/2121 # OBLIGATORIO
                      commercialline: CONSULTORIA # OBLIGATORIO
                      economicActivity: '882' # OBLIGATORIO
                      administratorName: Carlos Perez Sanchez # OBLIGATORIO
                      nacionality: MX # OBLIGATORIO
                      addressType: '1' # OBLIGATORIO
                      other: ''
                      country: MX # OBLIGATORIO
                      street: CALLE HIDALGO # OBLIGATORIO
                      externalNumber: '25' # OBLIGATORIO
                      internalNumber: '1'
                      postalCode: '06500' # OBLIGATORIO
                      federalEntity: CHS # OBLIGATORIO
                      city: '1214005' # OBLIGATORIO
                      municipality: '001' # OBLIGATORIO
                      neighborhood: '1' # OBLIGATORIO
                      phone: '5544554455'
                    familyData:
                    - firstName: MARÍA # OBLIGATORIO
                      middleName: ELENA
                      firstLastName: PÉREZ
                      secondLastName: LÓPEZ
                      positionHeld: EMPLEADO # OBLIGATORIO
                      positionHeldEndDate: 23/08/2000
                      relationship: 1 # OBLIGATORIO
                      nacionality: MX # OBLIGATORIO
                      rfc: MXXX809732 # OBLIGATORIO
                      nif: nif # OBLIGATORIO
                      tin: tin # OBLIGATORIO
                      nss: nss # OBLIGATORIO
                      curp: MXXX809732HDFRNM # OBLIGATORIO
                      foreignerWithoutCurp: false
                      dateOfBirth: 15/12/1980 # OBLIGATORIO
                      maritalStatus: 1
                      countryOfBirth: MX # OBLIGATORIO
                      federalEntity: CHS # OBLIGATORIO
                      city: '1214005'
              fiscal-self-declaration: # AUTO-CERTIFICACION Y DATOS FISCALES
                value:
                  clientId: "1234" # OBLIGATORIO
                  sectionId: fiscal-self-declaration # OBLIGATORIO
                  data:
                    mexicoResident: true
                    curp: GOCJ900520HDFRRN04 # OBLIGATORIO
                    foreignWithoutCURP: false
                    rfc: GODE561231GR8 # OBLIGATORIO
                    name: JUAN DIAZ # OBLIGATORIO # nombre ante el SAT
                    fiscalRegimeId: 12 # OBLIGATORIO
                    cfdiUse: D06 # OBLIGATORIO
                    taxPostalCode: '566024' # OBLIGATORIO
                    nationality: MX # OBLIGATORIO
                    country: MX # OBLIGATORIO
                    fiscalResidenceAbroad: true
                    facta: true # OBLIGATORIO
                    crs: true # OBLIGATORIO
                    fiscalResidences:
                    - personType: 1 # OBLIGATORIO
                      country: MX # OBLIGATORIO
                      declarationFiscalResidence: false # OBLIGATORIO
                      proofOfAddressType: '1'
                      issueDate: 02/09/2025 # OBLIGATORIO # fecha de emision
                      expirationStatus: STATUS
                      expirationDate: 02/09/2025
                      certificationDate: 02/09/2025 # OBLIGATORIO
                      declarationYear: 2025 # OBLIGATORIO
                      aditionalDays: 1-99
                      factaObligations:
                        autentication: ID FISCAL EXTRANJERO
                        nif: ASDASFASD12
                        tin: 999-99-9999
                        nss: 12-34-56-7890-1
                      activeFiscalDomicilie: true
              signature:
                value:
                  clientId: "1234"  # OBLIGATORIO
                  sectionId: signature # OBLIGATORIO
                  data:
                    signatureType: Solidaria # OBLIGATORIO
                    instructions: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua  ## se habilida si el tipo de firma es mancomunada
                    ipabOwnership: 100% # OBLIGATORIO
                    isrRetention: 100% # OBLIGATORIO
                    coHolders: # Cotitular
                    - curp: PASJ955022HDFRRN04 
                      foreignerWithoutCurp: false
                      rfc: PASJ9550223 # OBLIGATORIO
                      nif: ASDASFASD12 # OBLIGATORIO
                      tin: 999-99-9999 # OBLIGATORIO
                      nss: 12-34-56-7890-1 # OBLIGATORIO
                      firstName: JOAQUIN # OBLIGATORIO
                      middleName: ''
                      firstLastName: PACHECO
                      secondLastName: SANTIAGO
                      dateOfBirth: 23/02/1995 # OBLIGATORIO
                      gender: 2 # OBLIGATORIO
                      maritalStatus: 1 # OBLIGATORIO
                      nacionality: 1 # OBLIGATORIO
                      countryOfBirth: MX # OBLIGATORIO
                      federalEntity: 1 # OBLIGATORIO
                      relationship: 1 # OBLIGATORIO
                      economicActivity: '1' # OBLIGATORIO
                      companyName: ''
                      positionHeld: ''
                      phoneBussiness: ''
                      fiscalCountry: MX # OBLIGATORIO
                      fiscalIdentificationNumber: '666' # OBLIGATORIO
                      signatureType: A
                      IPABCoverage: 50% # OBLIGATORIO
                      incomeTaxWithholding: 50% # OBLIGATORIO
                      personPpe:
                        isPpe: true # OBLIGATORIO
                        ppeType: NACIONAL
                        positionHeld: JEFE DE GOBIERNO # OBLIGATORIO
                        positionEndDate: 24/12/2026
                        hasppeRelatives: true # OBLIGATORIO
                        ppeRelatives:
                        - curp: PASJ955022HDFRRN04
                          foreignerWithoutCurp: false
                          rfc: WQJS12345RTS # OBLIGATORIO
                          nif: ASDASFASD12 # OBLIGATORIO
                          tin: 999-99-9999 # OBLIGATORIO
                          nss: 12-34-56-7890-1 # OBLIGATORIO
                          firstName: CESAR # OBLIGATORIO
                          middleName: AUGUSTO
                          firstLastName: CAMPIA
                          secondLastName: PEREZ
                          dateOfBirth: 23/02/1995 # OBLIGATORIO
                          maritalStatus: "1"
                          nationality: "AD" # OBLIGATORIO
                          countryOfBirth: "MX" # OBLIGATORIO
                          federalEntity: "MX" # OBLIGATORIO
                          relationship: 1 # OBLIGATORIO
                          positionHeld: JEFE DE GOBIERNO # OBLIGATORIO
                          positionEndDate: 24/12/2026
                      identification:
                        - countryOfIdentification: MX # OBLIGATORIO
                          identificationType: "1" # OBLIGATORIO
                          identificationNumber: 12454HGS # OBLIGATORIO
                          expirationDate: 10/10/2026 
                      residentialAddress:
                        addressRol: "1" # OBLIGATORIO
                        addressType: "1" # OBLIGATORIO
                        other: "otro tipo de direccion"
                        country: MX # OBLIGATORIO
                        street: AV. JUÁREZ # OBLIGATORIO
                        externalNumber: '10' # OBLIGATORIO
                        internalNumber: ''
                        postalCode: '06500' # OBLIGATORIO
                        federalEntity: 1 # OBLIGATORIO
                        city: "ciudad" # OBLIGATORIO
                        municipality: 1 # OBLIGATORIO
                        neighborhood: 1 # OBLIGATORIO
                        geographicalArea: ''
                        deliveryCenter: ''
                      fiscalSelfDeclaration:
                        residesInMexico: true
                        SATRegisteredName: "Nombre ante el SAT" # OBLIGATORIO
                        fiscalRegime: "21" # OBLIGATORIO
                        useCFDI: "23" # OBLIGATORIO
                        taxPostalCode: "12345" # OBLIGATORIO
                        expirationStatus: "01" ## no se ve en el figma, pero fue requerido
                        isForeignTaxResident: true
                        taxAddress:
                          - taxAddress:
                              personType: "1" # OBLIGATORIO
                              fiscalResidence: "MX" # OBLIGATORIO
                              selfCertification: true
                              proofOfTaxResidency: "011"
                              certificationDate: 28/10/2025 # OBLIGATORIO
                              declarationYear: 2025 # OBLIGATORIO
                            fatcaCompliance:
                              autentication: "01"
                              nif: ASDASFASD12 # OBLIGATORIO
                              tin: 999-99-9999 # OBLIGATORIO
                              nss: 12-34-56-7890-1 # OBLIGATORIO
                            taxAddressActive: true
                      contactData:
                        DataNonDisclosureLetter: false
                        registeredPhones:
                        - type: 1 # OBLIGATORIO
                          country: MX # OBLIGATORIO
                          areaCode: '52'
                          phone: '5545319245' # OBLIGATORIO
                          extension: '7812'
                          notificationPhone: true
                        registeredEmails:
                        - emailAddress: DANIEL.MARTINEZ@CORREO.COM
                          notificationEmail: true
                    legalProxy: # Apoderado
                    - curp: LUPJ880512HDFRRN04
                      foreignerWithoutCurp: false
                      rfc: LUPJ8805123 # OBLIGATORIO
                      nif: ASDASFASD12 # OBLIGATORIO
                      tin: 999-99-9999 # OBLIGATORIO
                      nss: 12-34-56-7890-1 # OBLIGATORIO
                      firstName: LUIS # OBLIGATORIO
                      middleName: PABLO
                      firstLastName: LÓPEZ
                      secondLastName: SANTIAGO
                      dateOfBirth: 23/02/19995 # OBLIGATORIO
                      gender: 2 # OBLIGATORIO
                      maritalStatus: 1 # OBLIGATORIO
                      nacionality: "MX" # OBLIGATORIO
                      countryOfBirth: MX # OBLIGATORIO
                      federalEntity: 1 # OBLIGATORIO
                      relationship: 1 # OBLIGATORIO
                      economicActivity: 1 # OBLIGATORIO
                      occupation: 1 # OBLIGATORIO
                      profession: 1 # OBLIGATORIO
                      companyName: ''
                      positionHeld: ''
                      phoneBussiness: ''
                      fiscalCountry: MX # OBLIGATORIO
                      fiscalIdentificationNumber: '666' # OBLIGATORIO
                      signatureType: A
                      IPABCoverage: 50% # OBLIGATORIO
                      incomeTaxWithholding: 50% # OBLIGATORIO
                      personPpe:
                        isPpe: true # OBLIGATORIO
                        ppeType: NACIONAL
                        positionHeld: JEFE DE GOBIERNO # OBLIGATORIO
                        positionEndDate: 24/12/2026
                        hasppeRelatives: true # OBLIGATORIO
                        ppeRelatives:
                        - curp: LUPJ880512HDFRRN04
                          rfc: WQJS12345RTS # OBLIGATORIO
                          nif: ASDASFASD12 # OBLIGATORIO
                          tin: 999-99-9999 # OBLIGATORIO
                          nss: 12-34-56-7890-1 # OBLIGATORIO
                          firstName: CESAR # OBLIGATORIO
                          middleName: JULIAN
                          firstLastName: CAMPIA
                          secondLastName: REYES
                          dateOfBirth: 23/02/1995 # OBLIGATORIO
                          nationality: "AD" # OBLIGATORIO
                          relationship: 1 # OBLIGATORIO
                          positionHeld: JEFE DE GOBIERNO # OBLIGATORIO
                          positionEndDate: 24/12/2026
                      identification:
                        - countryOfIdentification: MX # OBLIGATORIO
                          identificationType: "1" # OBLIGATORIO
                          identificationNumber: 12454HGS # OBLIGATORIO
                          expirationDate: 10/10/2026 
                      residentialAddress:
                        addressRol: "12" # OBLIGATORIO
                        addressType: "1" # OBLIGATORIO
                        other: "otro"
                        country: MX # OBLIGATORIO
                        street: AV. JUÁREZ # OBLIGATORIO
                        externalNumber: '10' # OBLIGATORIO
                        internalNumber: ''
                        postalCode: '06500' # OBLIGATORIO
                        federalEntity: 1 # OBLIGATORIO
                        city: 1 # OBLIGATORIO
                        municipality: 1 # OBLIGATORIO
                        neighborhood: 1 # OBLIGATORIO
                        geographicalArea: '' # si puede enviarse vacio
                        deliveryCenter: '' # si puede enviarse vacio
                      contactData:
                        DataNonDisclosureLetter: false
                        registeredPhones:
                        - type: 1 # OBLIGATORIO
                          country: MX # OBLIGATORIO
                          areaCode: '52'
                          phone: '5545319245' # OBLIGATORIO
                          extension: '7812'
                          notificationPhone: true
                        registeredEmails:
                        - emailAddress: DANIEL.MARTINEZ@CORREO.COM
                          notificationEmail: true
                      faculties:
                        faculties: false
                        domain: false
                        delegationPower: false
                        creditInstruments: false
                        powerToOpenAccounts: false
                        numberPropertyDeeds: '' # OBLIGATORIO
                        datePropertyDeeds: 18/02/1998 # OBLIGATORIO
                        notaryName: '' # OBLIGATORIO
                        notarynumber: 0 # OBLIGATORIO
                        protocolizationBranch: '' # OBLIGATORIO
                        limitationsOnAuthority: '' # OBLIGATORIO
              authorized-person: # Persona autorixada
                value:
                  clientId: "1234" # OBLIGATORIO
                  sectionId: authorized-person # OBLIGATORIO
                  data:
                    authorizedPerson:
                    - curp: PAGS90223JHMCGNQ08
                      foreignWithoutCURP: false
                      rfc: PAGS90223 # OBLIGATORIO
                      nif: '' # OBLIGATORIO
                      tin: '' # OBLIGATORIO
                      nss: '' # OBLIGATORIO
                      firstName: JOAQUIN # OBLIGATORIO
                      middleName: SEGUNDO
                      lastName: PACHECO
                      secondLastName: SANTIAGO
                      birthDate: 23/02/1995 # OBLIGATORIO
                      gender: 1 # OBLIGATORIO
                      maritalStatus: 1
                      nationality: MX # OBLIGATORIO
                      birthCountry: MX # OBLIGATORIO
                      federalEntity: 1 # OBLIGATORIO
                      signatureClass: A # OBLIGATORIO
                      checkbookManagementAccess: true
                      relationship: 1 # OBLIGATORIO
                      autorizedPersonType: "01" # OBLIGATORIO
                      economicActivity: 1 # OBLIGATORIO
                      occupation: 1 # OBLIGATORIO
                      companyName: ''
                      jobTitle: ''
                      personPpe:
                        isPpe: true # OBLIGATORIO
                        ppeType: NACIONAL
                        positionHeld: JEFE DE GOBIERNO # OBLIGATORIO
                        positionEndDate: 24/12/2026
                        hasppeRelatives: true # OBLIGATORIO
                        ppeRelatives:
                          rfc: WQJS12345RTS
                          firstName: CESAR
                          firstLastName: CAMPIA
                          relationship: 1
                          positionHeld: JEFE DE GOBIERNO
                          positionEndDate: 24/12/2026
                      residenceAddress:
                        addressType: 1 # OBLIGATORIO
                        otherAddressType: OTRO TIPO
                        country: MX # OBLIGATORIO
                        street: JOSE A TORRES # OBLIGATORIO
                        externalNumber: '1234' # OBLIGATORIO
                        internalNumber: B-12
                        postalCode: '06500' # OBLIGATORIO
                        federalEntity: 1 # OBLIGATORIO
                        city: "02" # OBLIGATORIO
                        municipality: '001' # OBLIGATORIO
                        neighborhood: PAULINO NAVARRO # OBLIGATORIO
                      contact:
                        type: CASA # OBLIGATORIO
                        country: MX # OBLIGATORIO
                        areaCode: '52'
                        phone: '5534923794' # OBLIGATORIO
                        extension: '7812'
                        emailAddress: CORREO@PERSONAL.COM
                      faculties:
                        signatureInstruction: 1 FIRMA A
                        otherSignatureInstruction: ''
              personal-interview:
                value:
                  clientId: "1234" # OBLIGATORIO
                  sectionId: personal-interview # OBLIGATORIO
                  data:
                    date: 02/09/2025
                    interviewee: JUAN PEREZ # OBLIGATORIO
                    opening: Presencial # OBLIGATORIO
                    interviewLocation: Otro Domicilio # OBLIGATORIO
                    otherLocation: Domicilio
                    question1: true # OBLIGATORIO
                    question2: true # OBLIGATORIO
                    atypicalSituation: Prestanombres # OBLIGATORIO
                    question3: true # OBLIGATORIO
                    residence: Mexico # OBLIGATORIO
                    geographicalArea: Cerca del Centro Financiero # OBLIGATORIO
                    homeVisit: false # OBLIGATORIO
                    reason: NO ES CERCA # OBLIGATORIO
                    locality: Localidad ingresada # OBLIGATORIO
                    addressType: 1 # OBLIGATORIO
                    matchingAddress: true # OBLIGATORIO
                    ObservationsHomeVisit: Razones # OBLIGATORIO
                    customerKnowledge: Lo conozco de mucho tiempo # OBLIGATORIO
                    time: 3 meses # OBLIGATORIO
                    clientNumber: 24543 # OBLIGATORIO
                    clientInvestmentAmount: No coincide con su nivel socioeconómico # OBLIGATORIO
                    initialInvestment: Transferencias internacionales # OBLIGATORIO
                    country: MX # OBLIGATORIO
                    moreInformationClient: Informacion # OBLIGATORIO
                    isPFWithBusinessActivity: true # OBLIGATORIO
                    lowRisk:
                      companyName: EMPRESA
                      jobTitle: PUESTO
                      timeWorking: 3 meses
                    mediumnRisk:
                      initialInvestmentInActinver: Otras cuentas bancarias a su nombre # OBLIGATORIO
                      relationship: 3
                      justificationInitialInvestment: true # OBLIGATORIO
                    highRisk:
                      productsOffered: PRODUCTOS OFRECIDOS
                      inventory: true
              bank-account: # cuenta bancaria
                value:
                  clientId: "1234567890" # OBLIGATORIO
                  sectionId: bank-account # OBLIGATORIO
                  data:
                    bankAccounts:
                    - accountType: '1' # OBLIGATORIO
                      currency: '1' # OBLIGATORIO
                      domiciledIn: MX # OBLIGATORIO
                      accountStatus: '2' # OBLIGATORIO
                      isThirdParty: false
                      paymentMethodDocument: false
                      paymentMethodElectronic: true
                      maxAmount: '100000' # OBLIGATORIO
                      bank: '28710' # OBLIGATORIO
                      alias: ALIAS CUENTA # OBLIGATORIO
                      beneficiaries:
                      - beneficiaryName: '1' # OBLIGATORIO
                        curp: PASJ955022HDFRRN04
                        rfc: PELM950315XXX
                        accountNumberIban: 00012345678901234567 # OBLIGATORIO
                        clabe: 012345678901234567
                      - beneficiaryName: '2' # OBLIGATORIO
                        curp: PASJ955022HDFRRN04
                        rfc: PELM950315XXX
                        accountNumberIban: 00098765432109876543 # OBLIGATORIO
                        clabe: '765432109876543210'
                      reference: REFERENCIA XYZ
                      concept: CONCEPTO EJEMPLO
                      intermediaryBank: BANCO INTERMEDIARIO EJEMPLO
                      subaccountHolder: TITULAR SUBACCOUNT EJEMPLO
                      subaccountKey: CLAVE SUBACCOUNT
              privacy-notice:
                value:
                  clientId: "1234" # OBLIGATORIO
                  sectionId: privacy-notice # OBLIGATORIO
                  data:
                    marketing:
                      marketingConsent: true
                      advertisingConsentActinverGroup: true
                      rejectFinancialOffersFromActinver: true
                    privacyNotice:
                      consentToPrimaryDataProcessing: true
                      consentToSecondaryUse: true
                      consentToMarketingContactAndDataTransfer: true
              exchange-operation: # Opera cambios
                value:
                  clientId: "1234" # OBLIGATORIO
                  sectionId: exchange-operation # OBLIGATORIO
                  data:
                    fxOperationReasons:
                      fxMetalsInvestments: true
                      curreencyTrading: true
                      importExport: 
                        isImportExport: true
                        countryOrigin: MX # OBLIGATORIO
                        countryDestination: US # OBLIGATORIO
                      personalFundsReceipt:
                        isPersonalFundsReceipt: true
                        originCountry: MX # OBLIGATORIO
                    fxOperationsDetails:
                      transactionType:
                        cash:
                          isChash: true
                          mounthlyCashTransactions: 1 # OBLIGATORIO
                          mounthlyCashAmount: 1 # OBLIGATORIO
                        transfer:
                          isTransfer: true
                          mounthlyTransferTransactions: 1 # OBLIGATORIO
                          mounthlyTransferAmount: 1 # OBLIGATORIO
                        document:
                          isDocument: true
                          mounthlyDocumentTransactions: 1 # OBLIGATORIO
                          mounthlyDocumentAmount: 1 # OBLIGATORIO
                        travelerCheck:
                          isTravelerCheck: true
                          mounthlyTravelerCheckTransactions: 1 # OBLIGATORIO
                          mounthlyTravelerCheckAmount: 1 # OBLIGATORIO
                      coinMetalType:
                        gold:
                          isGold: true
                          mounthlyGoldTransactions: 1 # OBLIGATORIO
                          mounthlyGoldAmount: 1 # OBLIGATORIO
                        silver:
                          isSilver: true
                          mounthlySilverTransactions: 1 # OBLIGATORIO
                          mounthlySilverAmount: 1 # OBLIGATORIO
                        other:
                          isOther: true
                          otherMetalType: PLATINUM # OBLIGATORIO
                          mounthlyOtherTransactions: 1 # OBLIGATORIO
                          mounthlyOtherAmount: 1 # OBLIGATORIO
              real-owner: # propietario real
                value:
                  clientId: "1234" # OBLIGATORIO
                  sectionId: real-owner # OBLIGATORIO
                  data:
                    generalData:
                      foreignWithoutCURP: false
                      curp: PELM950315MDFLRR05
                      rfc: PELM950315XXX # OBLIGATORIO
                      nif:  # OBLIGATORIO
                      tin:  # OBLIGATORIO
                      nss: # OBLIGATORIO
                      firstName: PEDRO # OBLIGATORIO
                      middleName: ELENA
                      firstLastName: LÓPEZ
                      secondLastName: MARTÍNEZ
                      dateOfBirth: 15/03/1995 # OBLIGATORIO
                      gender: 1 # OBLIGATORIO
                      nacionality: MX # OBLIGATORIO
                      countryOfBirth: MX # OBLIGATORIO
                      federalEntity: CHS # OBLIGATORIO
                      relationship: 1 # OBLIGATORIO
                      economicActivity: '882' # OBLIGATORIO
                      fiel: ABCD123456XYZ
                      fielExpirationDate: 31/12/2027 # OBLIGATORIO
                      phone: 5544332211 # OBLIGATORIO
                      email: PEDRO.LOPEZ@CORREO.COM # OBLIGATORIO
                    personPpe:
                        isPpe: true # OBLIGATORIO
                        ppeType: NACIONAL
                        positionHeld: JEFE DE GOBIERNO # OBLIGATORIO
                        positionEndDate: 24/12/2026
                        hasppeRelatives: true # OBLIGATORIO
                        ppeRelatives:
                        - curp: GOCJ900520HDFRRN04
                          foreignerWithoutCurp: false
                          rfc: WQJS12345RTS # OBLIGATORIO
                          nif:  # OBLIGATORIO
                          tin:  # OBLIGATORIO
                          nss: # OBLIGATORIO
                          firstName: CESAR # OBLIGATORIO
                          middleName: "FELIPE"
                          firstLastName: CAMPIA # OBLIGATORIO
                          secondLastName: "NUNEZ"
                          nationality: "01" # OBLIGATORIO
                          countryOfBirth: "MX" # OBLIGATORIO
                          federalEntity: "MX" # OBLIGATORIO
                          relationship: 1 # OBLIGATORIO
                          positionHeld: JEFE DE GOBIERNO # OBLIGATORIO
                          positionEndDate: 24/12/2026
                    addressRealOwner:
                      addressType: '1' # OBLIGATORIO
                      other: ''
                      country: MX # OBLIGATORIO
                      postalCode: 06500 # OBLIGATORIO
                      federalEntity: CHS # OBLIGATORIO
                      city: '1214005' # OBLIGATORIO
                      municipality: '001' # OBLIGATORIO
                      neighborhood: 1 # OBLIGATORIO
                      street: AV. JUÁREZ # OBLIGATORIO
                      externalNumber: 10 # OBLIGATORIO
                      internalNumber: 3A
              resource-provider: # provedor de recursos
                value:
                  clientId: "1234"  # OBLIGATORIO
                  sectionId: resource-provider # OBLIGATORIO
                  data:
                    generalData:
                      personType: '1' # OBLIGATORIO
                      curp: GOCJ900520HDFRRN04
                      foreignerWithoutCurp: false
                      rfc: GODE561231GR8 # OBLIGATORIO
                      nif: # OBLIGATORIO
                      tin: # OBLIGATORIO
                      nss: # OBLIGATORIO
                      firstName: JUAN # OBLIGATORIO
                      middleName: CARLOS
                      firstLastName: GÓMEZ
                      secondLastName: DÍAZ
                      dateOfBirth: 20/05/1990 # OBLIGATORIO
                      gender: 1 # OBLIGATORIO
                      nacionality: MX # OBLIGATORIO
                      countryOfBirth: MX # OBLIGATORIO
                      federalEntity: CHS # OBLIGATORIO
                      relationship: 1 # OBLIGATORIO
                      economicActivity: '882' # OBLIGATORIO
                      fiel: ABCD123456XYZ
                      expirationFielDate: 10/25/1690
                      phone: '55551234' # OBLIGATORIO
                      email: JUAN.PEREZ@CORREO.COM # OBLIGATORIO
                    personPpe:
                        isPpe: true # OBLIGATORIO
                        ppeType: NACIONAL
                        positionHeld: JEFE DE GOBIERNO # OBLIGATORIO
                        positionEndDate: 24/12/2026
                        hasppeRelatives: true # OBLIGATORIO
                        ppeRelatives:
                        - curp: GOCJ900520HDFRRN04
                          foreignerWithoutCurp: false
                          rfc: WQJS12345RTS # OBLIGATORIO
                          nif: # OBLIGATORIO
                          tin: # OBLIGATORIO
                          nss: # OBLIGATORIO
                          firstName: CESAR # OBLIGATORIO
                          middleName: "FELIPE"
                          firstLastName: CAMPIA
                          secondLastName: "NUNEZ"
                          nationality: "01" # OBLIGATORIO
                          countryOfBirth: "MX" # OBLIGATORIO
                          city: "01"  # OBLIGATORIO
                          relationship: 1 # OBLIGATORIO
                          positionHeld: JEFE DE GOBIERNO # OBLIGATORIO
                          positionEndDate: 24/12/2026
                    resourceProviderAddress:
                      addressType: '1' # OBLIGATORIO
                      other: ''
                      country: MX # OBLIGATORIO
                      postalCode: '06500' # OBLIGATORIO
                      federalEntity: CHS # OBLIGATORIO
                      city: '1214005' # OBLIGATORIO
                      municipality: '001' # OBLIGATORIO
                      neighborhood: '1' # OBLIGATORIO
                      street: AV. JUÁREZ # OBLIGATORIO
                      externalNumber: '10' # OBLIGATORIO
                      internalNumber: 3A

              transactionalInvestmentProfile:
                value:
                  clientId: "1234" # OBLIGATORIO
                  sectionId: transactional-investment-profile # OBLIGATORIO
                  data:
                    customerType: "1" # OBLIGATORIO
                    customerSubtype: "1" # OBLIGATORIO
                    investmentProfile: "algo"
                    investmentQuestionnaire:  #cuestionario perfil de inversion
                      dateOfBirth: "13/02/1990" # OBLIGATORIO
                      maritalStatus: "1" # OBLIGATORIO
                      profession: "1" # OBLIGATORIO
                      companyName: "1" # OBLIGATORIO
                      position: "1" # OBLIGATORIO
                      telephoneCompany: "55443322" # OBLIGATORIO
                      companyWebsite: "WWW.ALGO.COM" # OBLIGATORIO
                      question: #cuestionario perfil de inversion
                        - idQuestion: "1" # OBLIGATORIO
                          idAnswer: "1"
                      educationLevel: "1" # OBLIGATORIO
                      occupation: "1" # OBLIGATORIO
                      numberOfDependents: 2 # OBLIGATORIO
                      lineOfBusiness: "MERCANTIL" # OBLIGATORIO
                    questionnaire:   #cuestionario conocimineto del cliente
                      - idQuestion: "1" # OBLIGATORIO
                        idAnswer: "1" # OBLIGATORIO
                    originResource:
                      - idOriginResource: "2"
                        percentage: "60%"
                    manageInvestmentsVia: "instrucciones para manejo de inversion"   #se establecerá instrucciones para el manejo de inversiones a través de:
              questionnairePld:
                value:
                  clientId: "1234" # OBLIGATORIO
                  sectionId: questionnairePld # OBLIGATORIO
                  data:
                    naturalPerson:   # Sección 1: Persona Física
                      professionActivity: true   # Profesión/Actividad (SIN_ACTIVIDAD_ECONOMICA | CON_ACTIVIDAD_ECONOMICA)
                      indicateActivity: "INGENIERO DE SOFTWARE"   # Indicar actividad
                      roleType:
                        managerOfficerEmployee: true   # Directivo, funcionario o empleado
                        independentProfessional: false   # Profesionista independiente
                        individualBusinessActivity: false   # Persona física con actividad empresarial
                      toWhomInformationProvided: "CLIENT"   # Indicar a quién corresponde la información proporcionada
                      productServiceContracted: "PRODUCTO"   # Producto o servicio a contratar
                      maximumDegreeStudies: "LICENCIATURA"   # Grado máximo de estudios
                      everActinverClient: true   # ¿Es o ha sido cliente con alguna entidad de Actinver?
                      actinverContractNumber: "CN-00012345"   # Indicar número de contrato (si aplica)
                      hasRelationOtherFinancialEntity: true   # ¿Tiene o ha tenido relación con alguna otra entidad financiera?
                      whichFinancialEntity: "BANCO XYZ"   # Indicar cuál entidad financiera
                      nonGafiOrTaxHavenResident: false   # ¿Es residente o nacional de un país no GAFI y/o algún paraíso fiscal?
                      whichCountryIfNonGafi: ""   # Indicar cual "si aplica"
                      place: "CDMX"   # Lugar
                      questionnaireApplicationDate: "23/02/2024"   # Fecha de aplicación del cuestionario (DD/MM/AAAA)
                      fax: "55555555"   # Fax
                      onlyCellphoneReason: ""   # Si solo registra teléfono celular, indicar motivo
                    incomeSource:   # Sección 2: Fuente de Ingreso
                      currentEmployment:   # Empleo actual (lista)
                        - employerName: "ACME SA DE CV"   # Nombre/denominación/razón social del patrón
                          businessActivity: "1"   # Giro o actividad
                          address: "AV. INSURGENTES SUR 1234, CDMX"   # Domicilio
                          phone: "55550000"   # Teléfono
                          position: "INGENIERO DE SOFTWARE SR"   # Cargo
                          seniorityMonths: 36   # Antigüedad (meses)
                          previousEmployment:   # Empleo anterior Nota: al ser menor de 1 año, se anotan los datos del empleo anterior
                            employerName: "TECH SOLUTIONS SA DE CV"   # Nombre/denominación/razón social del patrón
                            businessActivity: "1"   # Giro o actividad
                            address: "AV. PASEO DE LA REFORMA 200, CDMX"   # Domicilio
                            phone: "55559999"   # Teléfono
                            position: "DESARROLLADOR JUNIOR"   # Cargo
                            seniorityMonths: 24   # Antigüedad (meses)
                            monthlyIncome: 45000.00   # Ingreso mensual
                          monthlyIncome: 65000.00   # Ingreso mensual
                          otherIncome: "BONOS"   # Otros ingresos (bonos, gratificaciones, compensaciones, etc.)
                          hasFinancialResourceDisposalPowers: true   # ¿Tiene facultades para manejar/disponer recursos financieros en la empresa?
                          specify: "algun dato"
                          employerIsNonProfitOrGovOrListed: true   # AC sin fines de lucro / cotiza en Bolsa / dependencia o entidad gubernamental
                          specifyWhich: "alguna dato"
                          employerIsNonGAFIFinancialInstitution: true   # IF de país no GAFI y/o paraíso fiscal
                          specifyPattern: "alguna dato"
                      ownBusiness:   # Negocio propio (lista)
                        - businessActivity: "1"   # Giro o actividad
                          rfc: "NAGR8808318T0"   # Tipo de identificación fiscal (RFC/NIF/TIN/NSS)
                          nif: ""
                          tin: ""
                          nss: ""
                          businessName: "SOFTWARE XYZ"   # Nombre/denominación/razón social del patrón
                          address: "AV. REFORMA 100, CDMX"   # Domicilio
                          phone: "55551111"   # Teléfono
                          fax: ""   # Fax
                          website: "WWW.MIEMPRESA.COM"   # Página web
                          roleInBusiness: "DUEÑO"   # Cargo en el negocio
                          operatingTimeMonths: 48   # Tiempo que ha operado el negocio (meses)
                          employeesNumber: 3   # Número de empleados
                          annualApproxIncome: 1200000.00   # Ingreso anual aproximado
                          mainGeographicZones: "CDMX, EDOMEX"   # Principales zonas geográficas del negocio
                          businessAddressNonGAFICountry: false   # Domicilio o zonas en país no GAFI y/o paraíso fiscal
                          hasContractsWithActinverGroup: true   # ¿Ha contratado productos/servicios con Actinver?
                          indicateWhich: "algun dato"
                          isFinancialInstitutionInNonGafiCountry: false   # IF ubicada en país no GAFI y/o paraíso fiscal
                          manageDisposeFinancialResources: false     #tiene facultades para manejar o disponer recursos financieros
                      shareholderOrAssociate:   # Derivados de ser socio o asociado (lista)
                        - isMercantileCompanyPartner: false   # ¿Es socio o accionista de sociedad mercantil?
                          isCivilAssociationPartner: true   # ¿Es socio o asociado de asociación civil?
                          specifyCompany: "algun nombre"   #especificar si es una sociedad o asociacion civil sin fines de lucro
                          businessName: "SOCIEDAD XYZ SA"   # Denominación o razón social
                          corporatePurpose: "DESARROLLO DE SOFTWARE"   # Objeto social
                          constitutionCountry: "MX"   # País de constitución
                          address: "AV. UNIVERSIDAD 123"   # Domicilio
                          phone: "55552222"   # Teléfono
                          fax: ""   # Fax
                          website: "WWW.SOCIEDADXYZ.COM"   # Página web
                          roleInCompany: "SOCIO"   # Cargo en la sociedad/asociación
                          timeAsPartnerMonths: 24   # Tiempo de ser socio o asociado (meses)
                          participationPercentage: ""   # porcentaje de participacion y, en su caso, tipo de acciones
                          annualApproxIncome: 800000.00   # Ingreso anual aproximado de la sociedad/asociación
                          mainGeographicZones: "CDMX"   # Principales zonas geográficas
                          hasNonGafiAddressOrZones: false   # Domicilio o zonas en país no GAFI/paraíso fiscal
                          actinverContracts: false   # ¿Ha tenido productos/servicios con Actinver?
                          isFinancialInstitutionInNonGafiCountry: false   # la sociedad o asociacion a tenido contratos en alguna otra empresa del grupo actinver
                          nonGafiOrTaxHavenFinInst: false  #en caso de tratarse de una sociedad, es una institución financiera ubicada en un pais no miembro de gafy y/o de algun paraiso fiscal
                          otherIncomeSources: ""   # Otras fuentes de ingresos
                          governmentOrPublicEntityRelations: false   # ¿Relaciones comerciales con dependencia/entidad gubernamental?
                    ppe:   # Sección 4: Persona Políticamente Expuesta (PPE)
                      isPpe: true   # ¿Es o a sido una Persona Políticamente Expuesta?
                      positionAndInstitution: "algun dato"   # Cargo e institución (si corresponde)
                      isPartnerAssociateOrRelativeOfPpe: false   # ¿Es socio/asociado o familiar hasta segundo grado de una PPE?
                      relatedPpePersons:   # Personas PPE relacionadas (lista)
                        - curp: "PASJ50223HMCCNQ08"   # CURP
                          noCurpForeigner: false   # Extranjero sin CURP
                          rfc: "NAGR8808318T0"   # Tipo de identificación fiscal (RFC/NIF/TIN/NSS)
                          nif: ""
                          tin: ""
                          nss: ""
                          birthDate: "23/02/1995"   # Fecha de nacimiento (DD/MM/AAAA)
                          firstName: "JOAQUIN"   # Primer nombre
                          middleName: ""   # Segundo nombre
                          lastName: "PACHECO"   # Primer apellido
                          secondLastName: "SANTIAGO"   # Segundo apellido
                          relationship: "PRIMO"   # Parentesco
                    realOwner:   # Sección 5: Propietario Real
                      reasonToOpenWithThoseFunds: "AHORRO FAMILIAR"   # Razón por la que se pretende abrir la cuenta con dichos recursos
                      relationshipWithClient: "HERMANO"   # Relación existente con el cliente
                      reasonToProvideFundsToClient: "APOYO ECONÓMICO"   # Razón por la que le proporciona al cliente los recursos
                      oneTimeContribution: true
                      approximateAmount: "20"
                      contributionPeriodic: false
                      approximateAmountPeriodic: ""
                    transactionProfileUpdate:   # Sección 6: Actualización del Perfil Transaccional
                      intendedUseOfAccount: "AHORRO E INVERSIÓN"   # Uso que se pretende dar a la cuenta
                      approxMonthlyIncomingResources: 250000.00   # Monto mensual aproximado de los recursos a ingresar
                      monthlyOperations:   # Número mensual estimado de operaciones (lista)
                        - operationType:    # Tipo de operación
                            numberDeposits: "2"   #numero de depositos
                            numberOfWithdrawals: "1"  #numero de retiros
                            numNatTransfersIn: "0"    #numero de transferencias nacionales que se recibirán
                            numNatTransfersOut: "0"   #numero de transferencias nacionales que se enviaran
                            numIntTransfersIn: "2"    #numero de transferencias internacionales que se recibirán
                            numIntTransfersOut: "0"   #numero de transferencias internacionales que se enviaran
                            other: ""
                            countriesForTransfers: "algo"   #nombre de los paises o territorios desde o hacia los que se pretende recibir o enviar transferencias
                            nonFatfOrTaxHavenCountries: "algun dato" #señalar si alguno de ellos no es perteneciente a GAFI y/p algun paraiso fiscal
                            intl_transfer_reasons: "algo"  #razones por las que pretende recibir o enviar transferencias desde/hacia otros países o territorios
                            acct_usage_intent: false   #la intención del uso de la cuenta es principalmente para depositar y retirar: efectivo
                            acct_usage_other: true
                            specify: "algun dato"  #espicifcar
                    actinverInternalUse:   # Sección 7: Para uso exclusivo de Actinver
                      hasReferences: false  #Tengo referencias del prospecto, cliente o apoderado
                      specify: "si es al caso"  #especificar
                      operationsAmountCongruent: true  #El monto total de las operaciones que el cliente estima realizar es congruente con los ingresos que reporta
                      operationsAmountCongruentSpecify: ""  #especificar
                      incomeSourceHighRisk: false  #Alguna de las fuentes de ingreso declaradas por el cliente proviene de una actividad clasificada por Grupo Financiero Actinver como de alto riesgo
                      incomeSourceHighRiskSpecify: ""   #especificar
                      delegateDisposition: ""   #Indicar cuál fue la disposición del apoderado del cliente para proporcionar la información y los datos del cuestionario de identificación
                      visitDate: "24/02/2024"   # Fecha de visita (DD/MM/AAAA)
                      advisorName: "ADRIAN LOPEZ"   # Nombre del asesor
                      advisorPosition: "ASESOR"   # Puesto del asesor
                      financialCenterManager: "MARIA PEREZ"   # Gerente del Centro Financiero
      responses:
        '200':
          description: Checkpoint created or updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  applicationNumber:
                    type: string
                    example: '1234567890'
                  sectionId:
                    type: string
                    example: datos-iniciales
                  status:
                    type: string
                    example: CREATED
              examples:
                CREATED:
                  value:
                    applicationNumber: '1234567890'
                    sectionId: bank-account
                    status: CREATED
                FAILED:
                  value:
                    applicationNumber: '1234567890'
                    sectionId: bank-account
                    status: FAILED
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        '401':
          description: JWT is expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              example:
                status: 401
                appCode: CROSS-SUPPORT-E-401
                messages:
                - JWT IS EXPIRED
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              example:
                status: 403
                appCode: CROSS-SUPPORT-E-403
                messages:
                - FORBIDDEN
        '404':
          description: Resource not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              example:
                status: 404
                appCode: CROSS-SUPPORT-E-404
                messages:
                - RESOURCE NOT FOUND
        '412':
          description: Precondition failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              example:
                status: 412
                appCode: CROSS-SUPPORT-E-412
                messages:
                - PRECONDITION FAILED
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              example:
                status: 500
                appCode: SPINE-MS_CROSS_SUPPORT-CATALOGS-500
                messages:
                - ERROR EN EL TRATAMIENTO DE SERVICIO WEB; MÁS DETALLES EN LOG DE
                  ERROR DE SERVICIO WEB EN LA PÁGINA DE PROVEEDOR (CRONOMARCADOR UTC
                  20220816151711; ID DE TRANSACCIÓN B742632CC2C200A0E0062ED2ACC62E94)
components:
  schemas:
    errorResponse:
      type: object
      properties:
        status:
          type: integer
          format: int32
          example: 400
        appCode:
          type: string
          example: CROSS-SUPPORT-E-400
        messages:
          type: array
          items:
            type: string
          example:
          - Invalid search parameters
    checkpointRequest:
      type: object
      required:
      - sectionId
      - data
      properties:
        onboardingId:
          type: integer
          format: int64
          example: 1234567890
          description: Unique identifier for the onboarding process
        sectionId:
          type: string
          enum:
          - datos-iniciales
          - identificacion-contacto
          - informacion-ppe
          - datos-generales
          - domicilio
          - firma
          - beneficiarios
          - authorized-person
          - autocertificacion-fiscales
          - entrevista-personal
          description: Tab ID for the checkpoint
        data:
          type: object
          description: Specific data for the tab (variable structure depending on
            tabId)
          additionalProperties: true
        clientId:
          type: string
          description: Client identifier
      description: Request object for checkpoint data
 