.manifest {
  margin-right: 2%;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 10px;
}

.form-check-label{
  position: relative;
  top:2px
}

.component-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}

.txt-notice {
  font-size: 14px;
  margin-left: 2%;
}

input[type="checkbox"]{
  margin-left: 3px;
}

.form-check-input:checked {
    background-color: #0F6FF5;
    border-color:#0F6FF5;
}

.opaco{
  opacity: 50%;
}

.custom-radio-group{
  margin-left: -2.5% !important;
}

.margin-extra {
  padding-left: 0% !important;
  margin-left: -2.5% !important;
}
