.manifest {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 10px;
    padding-left: 0;
}

.form-check-label {
    position: relative;
    top: 2px;
}

.div-container {
    width: 100%;
    min-width: 250px;
    height: 100px;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    border-color: #9fc6fb;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.component-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
}

.txt-notice {
    font-size: 14px;
    margin-left: 2%;
}

input[type="checkbox"] {
    margin-left: 3px;
}

.form-check-input:checked {
    background-color: #0f6ff5;
    border-color: #0f6ff5;
}

.opaco {
    opacity: 50%;
}

.mat-label-title {
    display: block;
    height: 24px;
    padding-left: 0;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #003057;
}

.bt-add-s {
    width: 221px;
    height: 36px;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 500;
    margin-right: 1%;
    color: #0f6ff5;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-right-width: 1px;
    border-left-width: 1px;
    border-color: #0f6ff5;
    background-color: white;
}

::ng-deep .mat-mdc-checkbox .mdc-checkbox__background {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    border-width: 1px !important;
    border-style: solid !important;
    border-color: #757575 !important;
}

input.ng-invalid.ng-touched,
mat-select.ng-invalid.ng-touched {
    border: 1px solid #db0d11 !important;
}

::ng-deep .checkbox-unchecked.mat-mdc-checkbox .mdc-checkbox__background {
    background-color: transparent !important;
    border: 2px solid red !important;
}

::ng-deep .checkbox-checked.mat-mdc-checkbox .mdc-checkbox__checkmark {
    color: white !important;
}

.bt-submit:disabled {
    background-color: #9fc6fb;
    cursor: not-allowed;
    opacity: 0.8;
}

::ng-deep .mat-mdc-select-disabled {
    color: #999;
    background-color: #e9ecef !important;
    cursor: not-allowed;
}
.w8-card-table {
    margin-left: 3%;
    margin-right: 2%;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
    width: auto;
}

.register-w8 {
    justify-content: flex-end;
}

.question-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 2%;
    .question-text-container {
        width: 50%;
    }
    .question-input-container {
        width: 40%;
    }
}
