<div class="custom-page">
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <div class="custom-page mt-4">
      <div class="bg-white custom-padding">
        <button type="button" id="search" [disabled]="isMaintenance" class="mb-4 btn-secondary btn-search-client" (click)="searchClient()"> Búsqueda del cliente</button>
        <div class="row">
          <mat-label class="mb-4 mat-label-title">Datos Generales</mat-label>
          <div class="form-row">
            <div class="col-md-4 mb-3 input-field">
              <mat-label for="typePerson" class="form-mat-label"
                >Tipo de Persona<span class="text-danger">*</span></mat-label
              >
              <mat-select
                panelClass="custom-select-panel"
                formControlName="typePerson"
              >
                @for(item of tp; track $index){
                <mat-option [value]="item.id">
                  {{ item.name }}
                </mat-option>
                }
              </mat-select>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-4 mb-3 input-field">
              <mat-label
                for="curp"
                class="form-mat-label"
                [class.opaco]="
                  profileForm.get('curp')?.disabled && foreignerCURP()
                "
                >CURP<span class="text-danger">*</span></mat-label
              >
              <input
                matinput
                type="text"
                class="form-control"
                [class.opaco]="
                  profileForm.get('curp')?.disabled && foreignerCURP()
                "
                formControlName="curp"
                (blur)="loadCurpDataService()"
                (input)="toUppercaseCURP('curp')"
                [maxLength]="18"
                placeholder=""
              />
            </div>

            <div
              class="col-md-6 mb-3 d-flex input-field manifest form-check form-switch"
              style="padding-left: 12px"
            >
              <input
                class="form-control form-check-input"
                type="checkbox"
                formControlName="foreignerWithoutCurp"
                style="width: 3rem; height: 1.5rem"
                (click)="onForeignerClick($event)"
              />
              <mat-label class="form-mat-label" style
                >EXTRANJERO SIN CURP
              </mat-label>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-4 mb-3 input-field">
              <mat-radio-group
                class="custom-radio-group"
                (change)="onSelectionChangeTypeIden($event)"
                formControlName="typeIden"
              >
                <mat-radio-button value="1">RFC</mat-radio-button>
                <mat-radio-button value="2">NIF</mat-radio-button>
                <mat-radio-button value="3">TIN</mat-radio-button>
                <mat-radio-button value="4"
                  >NSS <span class="text-danger">*</span></mat-radio-button
                >
              </mat-radio-group>
              <input
                matinput
                type="text"
                class="form-control"
                formControlName="rfc"
                placeholder=""
                [maxLength]="13"
                [minLength]="10"
                appUppercase
                pattern="[A-Za-z0-9]+"
                (keypress)="allowAlphanumericOnly($event)"
              />
            </div>
            @if ( typeIden() === true) {
            <div class="col-md-3 mb-3 input-field">
              <mat-label
                >País que emitió la Clave Fiscal en el Extranjero<span
                  class="text-danger"
                  >*</span
                ></mat-label
              >
              <mat-select
                formControlName="countryTaxCodeAbroad"
                panelClass="custom-select-panel"
              >
                @for (item of countries(); track item.countryId; let id =
                $index) {
                <mat-option [value]="item.countryId">{{
                  item.country
                }}</mat-option>
                }
              </mat-select>
            </div>
            }
          </div>

          <div class="w-100"></div>

          <div class="form-row">
            <div class="col-md-4 mb-3 input-field">
              <mat-label for="firstName" class="form-mat-label"
                >Nombre<span class="text-danger">*</span></mat-label
              >
              <input
                matinput
                type="text"
                class="form-control"
                formControlName="firstName"
                placeholder=""
                [maxLength]="50"
                appUppercase
              />
            </div>

            <div class="col-md-4 mb-3 input-field">
              <mat-label for="middleName" class="form-mat-label"
                >Segundo Nombre<span class="text-danger"></span
              ></mat-label>
              <input
                matinput
                type="text"
                class="form-control"
                formControlName="middleName"
                appUppercase
                placeholder=""
                [maxLength]="50"
              />
            </div>

            <div class="col-md-2 mb-3 input-field matinput-date">
              <mat-label for="dateOfBirth" class="form-mat-label"
                >Fecha de Nacimiento<span class="text-danger"
                  >*</span
                ></mat-label
              >
              <!-- <input
                lang="es-ES"
                type="date"
                class="form-control"
                formControlName="dateOfBirth"
                placeholder=""
                min="1900-01-01"
                max="9999-12-31"
                [maxLength]="8"
                (focus)="yearsAgo()"
                (blur)="yearValid()"
              /> -->
              <input
                matInput
                [matDatepicker]="dateOfBirth"
                class="form-control"
                formControlName="dateOfBirth"
                [min]="birthDates.min"
                [max]="birthDates.max"
                appDateInputStrict
                (dateInput)="onDateInput($event)"
                [maxLength]="10"
                placeholder="DD/MM/AAAA"
              />
              <mat-datepicker-toggle
                matIconSuffix
                [for]="dateOfBirth"
              ></mat-datepicker-toggle>
              <mat-datepicker
                #dateOfBirth
                [startAt]="birthDates.startAt"
              ></mat-datepicker>
            </div>
          </div>

          <div class="form-row">
            <div class="col-md-4 mb-3 input-field">
              <mat-label for="firstLastName" class="form-mat-label"
                >Primer Apellido<span class="text-danger"></span
              ></mat-label>
              <input
                matinput
                type="text"
                class="form-control"
                formControlName="firstLastName"
                placeholder=""
                [maxLength]="50"
                appUppercase
              />
            </div>

            <div class="col-md-4 mb-3 input-field">
              <mat-label for="middleLastName" class="form-mat-label"
                >Segundo Apellido<span class="text-danger"></span
              ></mat-label>
              <input
                matinput
                type="text"
                class="form-control"
                formControlName="secondLastName"
                placeholder=""
                [maxLength]="50"
                appUppercase
              />
            </div>
          </div>
          <small class="text-muted">Al menos un apellido es obligatorio</small>

          <div class="form-row">
            <div class="col-12 mb-3 mt-4">
              <mat-label class="form-mat-label input-field"
                >Género<span class="text-danger">*</span></mat-label
              >
              <div>
                <mat-radio-group formControlName="gender">
                  <mat-radio-button value="H">Masculino</mat-radio-button>
                  <mat-radio-button value="M">Femenino</mat-radio-button>
                  <mat-radio-button value="X">No Binario</mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="col-md-3 mb-3 input-field">
              <mat-label
                >Nacionalidad<span class="text-danger">*</span></mat-label
              >
              <mat-select
                formControlName="nationality"
                panelClass="custom-select-panel"
              >
                @for (item of nationalities(); track item.nationalityId; let id
                = $index) {
                <mat-option [value]="item.nationalityId">{{
                  item.nationality
                }}</mat-option>
                }
              </mat-select>
            </div>

            <div class="col-md-3 mb-3 input-field">
              <mat-label
                >País de Nacimiento<span class="text-danger">*</span></mat-label
              >
              <mat-select
                formControlName="countryOfBirth"
                panelClass="custom-select-panel"
              >
                @for (item of countries(); track item.countryId; let id =
                $index) {
                <mat-option [value]="item.countryId">{{
                  item.country
                }}</mat-option>
                }
              </mat-select>
            </div>
            @if (!profileForm.get('curp')?.disabled && !foreign() || (dataAux !=
            'NE')) {
            <div class="col-md-4 mb-3 input-field">
              <mat-label
                >Entidad Federativa de Nacimiento<span class="text-danger"
                  >*</span
                ></mat-label
              >

              <mat-select
                formControlName="stateOfBirth"
                panelClass="custom-select-panel"
              >
                @for (item of states(); track item.bland; let id = $index) {
                <mat-option [value]="item.bland">{{ item.bezei }}</mat-option>
                }
              </mat-select>
            </div>
            } @else if(!foreign()) {
            <div class="col-md-4 mb-3 input-field">
              <mat-label
                >Ciudad de Nacimiento</mat-label
              >

              <input
                matinput
                type="text"
                class="form-control"
                formControlName="stateOfBirth"
                placeholder=""
                [maxLength]="50"
                appUppercase
              />
            </div>
            } @else {
            <div class="col-md-4 mb-3 input-field">
              <mat-label
                >Ciudad de Nacimiento</mat-label
              >

              <input
                matinput
                type="text"
                class="form-control"
                formControlName="stateOfBirth"
                placeholder=""
                [maxLength]="50"
                appUppercase
              />
            </div>
            }
          </div>
          <div class="mb-4 text-end">
            <button matButton class="bt-add-other me-2" id="cancelClear" [disabled]="isMaintenance" type="button" (click)="clearForm()">
              Cancelar
            </button>
            <button matButton class="bt-submit" id="btnValid" [disabled]="isMaintenance" type="button" (click)="submit()">
              Validar
            </button>
          </div>
          <!--  -->
          <div class="form-row">
            <div class="col-md-4 mb-3 input-field">
              <mat-label
                >Parentesco<span class="text-danger">*</span></mat-label
              >
              <mat-select
                formControlName="relationship"
                panelClass="custom-select-panel"
              >
                @for (item of relationships(); track item.idParent; let id =
                $index) {
                <mat-option [value]="item.idParent">{{
                  item.kinShip
                }}</mat-option>
                }
              </mat-select>
            </div>

            <div class="col-md-4 input-field mb-3">
              <mat-label
                >Actividad Económica
                <span class="text-danger">*</span></mat-label
              >
              <mat-select
                formControlName="economicActivity"
                panelClass="custom-select-panel"
              >
                <mat-option>
                  <input matInput placeholder="Buscar..." class="input-custom-mat-option" [formControl]="economicActivityFilter"
                  (click)="$event.stopPropagation()" (keydown)="$event.stopPropagation()">
                </mat-option>
                @for (item of filteredEconomicActivities(); track item.lineBusinessId; let id = $index) {
                <mat-option [value]="item.lineBusinessId">{{ item.lineBusiness }}</mat-option>
                }
              </mat-select>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-4 mb-3 input-field">
              <mat-label for="fechaNacimiento" class="form-mat-label"
                >Fiel<span class="text-danger"></span
              ></mat-label>
              <input
                class="form-control"
                matInput
                type="text"
                [maxLength]="50"
                formControlName="field"
                appUppercase
              />
            </div>

            @if(this.field() === true){
              <div class="col-md-2 mb-3 input-field matinput-date">
                <mat-label for="fechaNacimiento" class="form-mat-label"
                  >Fecha de Vencimiento de la FIEL <span class="text-danger">*</span></mat-label
                >
                <!-- <input
                  type="date"
                  class="form-control"
                  formControlName="expirationDateField"
                  placeholder=""
                  min="1900-01-01"
                /> -->
                <input
                  matInput
                  [matDatepicker]="expirationDateField"
                  class="form-control"
                  formControlName="expirationDateField"
                  [maxLength]="10"
                  placeholder="DD/MM/AAAA"
                />
                <mat-datepicker-toggle
                  matIconSuffix
                  [for]="expirationDateField"
                ></mat-datepicker-toggle>
                <mat-datepicker #expirationDateField></mat-datepicker>
              </div>
            }
          </div>
          <div class="form-row">
            <div class="col-md-4 mb-3 input-field">
              <mat-label for="fechaNacimiento" class="form-mat-label"
                >Teléfono<span class="text-danger">*</span></mat-label
              >
              <input
                class="form-control"
                matInput
                type="text"
                [maxLength]="15"
                formControlName="phone"
                (keypress)="allowNumericOnly($event)"
                appUppercase
              />
            </div>

            <div class="col-md-4 mb-3 input-field">
              <mat-label for="fechaNacimiento" class="form-mat-label"
                >Correo Electrónico<span class="text-danger">*</span></mat-label
              >
              <input
                class="form-control"
                matInput
                type="text"
                [maxLength]="100"
                formControlName="mail"
                appUppercase
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="custom-page pt-4 pb-4 mt-4 mb-4">
      <app-ppe-section [showCountry]="true" [mant]="mant"></app-ppe-section>
    </div>
    <div class="custom-page mt-4 mb-4">
      <mat-label class="ms-4 pb-4 mat-label-title"
        >Domicilio Proveedor de Recursos:</mat-label
      >
      <div class="mx-4">
        <app-address-section
          [hideRoleSection]="true"
          [hideProofOfAddressSection]="true"
        ></app-address-section>
      </div>
    </div>
    <p class="ms-3 mt-2 text-muted">
      <span class="text-danger">* Campos obligatorios</span>
    </p>
    <div class="text-end mb-2">
      @if(isMaintenance){
      <button
        matButton
        class="bt-submit"
        (click)="editt()"
        id="btnEdit"
        type="button"
        [disabled]="isMaintenanceE()"
      >
        Editar
      </button>
      }
    </div>
    <div class="text-end">
      @if(isMaintenance){
      <button
        matButton
        class="bt-submit"
        (click)="cancel()"
        id="btnCancel"
        type="button"
        [disabled]="isMaintenance"
      >
        Cancelar
      </button>
      }
      @if(isMaintenance === true){
        <button matButton class="bt-submit" id="btnSave" type="submit" [disabled]="isMaintenance">
          Guardar
        </button>
      } @else {
        <button matButton class="bt-submit" id="btnSave" type="submit" [disabled]="isOnboarding">
          Guardar
        </button>
      }
    </div>
  </form>
</div>
