.input-field{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form-row{
  margin-left: 2%;
}

.full-size{
  width: 100%;
}

.table-titles{
  margin-left: 2% !important;
}
.pop-up {
  padding: 24px 24px;
  border-radius: 0px;
  box-sizing: border-box;
}

.bt-add-other {
  width: 168px;
  height: 36px;
  top: 0px;
  font-size: 14px;
}
