.form-check-input:checked {
    background-color: #0F6FF5;
    border-color:#0F6FF5;
}

.pt-21px {
  padding-top: 21px;
}

.form-title {
  font-size: 16px !important;
  font-weight: 400 !important;
}
