.form-control:focus {
  border-color: #000000;
  /* color por defecto de Bootstrap */
  box-shadow: none;
  /* elimina el resplandor */
}

.mat-label-title {
  display: block;
  height: 24px;
  padding-left: 0;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #003057;
}

.mat-label-subtitle {
  display: block;
  height: 24px;
  padding-left: 0;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.mat-label {
  height: 16px;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 400;
  vertical-align: middle;
  box-sizing: border-box;
  color: #727272;
}

.div-container {
  max-width: 500px;
  max-height: 81px;
  min-width: auto;
  min-height: auto;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  padding-right: 24px;
  padding-left: 24px;
  border-color: #9fc6fb;
}

.bt-add-s {
  width: 221px;
  height: 36px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin-right: 1%;
  color: #0f6ff5;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-right-width: 1px;
  border-left-width: 1px;
  border-color: #0f6ff5;
  background-color: white;
}

.bt-add-m {
  width: 223px;
  height: 36px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin-right: 1%;
  color: #0f6ff5;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-right-width: 1px;
  border-left-width: 1px;
  border-color: #0f6ff5;
  background-color: white;
}

.bt-add-l {
  width: 284px;
  height: 36px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin-right: 1%;
  color: #0f6ff5;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-right-width: 1px;
  border-left-width: 1px;
  border-color: #0f6ff5;
  background-color: white;
}

.bt-add-s:disabled {
  width: 221px;
  height: 36px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin-right: 1%;
  color: #0f6ff5;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-right-width: 1px;
  border-left-width: 1px;
  border-color: #0f6ff5;
  background-color: white;
  cursor: not-allowed;
  opacity: 0.5;
}

.bt-add-m:disabled {
  width: 223px;
  height: 36px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin-right: 1%;
  color: #0f6ff5;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-right-width: 1px;
  border-left-width: 1px;
  border-color: #0f6ff5;
  background-color: white;
  cursor: not-allowed;
  opacity: 0.5;
}

.bt-add-l:disabled {
  width: 284px;
  height: 36px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin-right: 1%;
  color: #0f6ff5;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-right-width: 1px;
  border-left-width: 1px;
  border-color: #0f6ff5;
  background-color: white;
  cursor: not-allowed;
  opacity: 0.5;
}

mat-radio-button {
  padding-right: 40px;
  font-size: 14px;
}

.table-not-data {
  font-weight: 400;
  size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #003057;
  justify-content: center;
}

.div-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
