<div class="pop-up">
  <mat-label class="table-titles cotitular-title">Cotitular</mat-label>
  <div class="readonly-display">
    {{cotitularNumber}}
  </div>
  <button type="submit" id="serachCln" class="btn-secondary btn-search-client" (click)="searchClient()"
    [disabled]="(this.data.content && this.data.isMaintenance)"> Búsqueda del cliente</button>
  <form [formGroup]="form" (ngSubmit)="saveCotitular()">

    <div class="mt-3">
      <mat-label class="light-titles margin-inter">Datos del Cotitular</mat-label>
    </div>

    @if(hasClientNumber){
    <div class="input-field margin-inter">
      <mat-label>No. de Cliente<span class="text-danger">*</span></mat-label>
      <input matInput type="text" formControlName="clientNumber" appUppercase maxlength="10" appNumericOnly
      (blur)="searchClientByNumber($event)"/>
    </div>
    }

    <div class="mt-4 margin-inner">
      <app-client-data [genderMaritalStatus]="true" [data]="dataSection"></app-client-data>
      <div class="text-end mt-4 mb-4">
        <button type="button" class="bt-add-other me-3" (click)="cancelValid()" id="cancelValid" [disabled]="(this.data.content && this.data.isMaintenance)">Cancelar</button>
        <button type="button" class="bt-submit" (click)="valid()"  [disabled]="(this.data.readOnly || (this.data.content && this.data.isMaintenance))" id="validCotitular">Validar</button>
      </div>
    </div>

    <div class="mt-4 margin-inner">
      <app-miscellaneous-section [hasTaxSection]="true" [initialData]="misceSection" [ipabEnabled]="ipabEnabled"
      [defaultPercentage]="ipabPercentage" [signatureClass]="signatureClass()"></app-miscellaneous-section>
    </div>

    <div class="mt-3">
      <mat-label class="light-titles margin-inter">Autocertificación y Datos Fiscales</mat-label>

    </div>
    <div class="margin-inter">
      <app-auto-certification-section
      [isCotitular]="true"
      [dataAutoCertification]="dataAutoCertification"
      [actionsActiveMant]="actionsActiveMant"
      [externalPermissions]="getAutoCertPermissions()"
      (formGroupEmitter)="onFormGroupReceived($event)"
      ></app-auto-certification-section>
    </div>

    <div class="mt-5 mb-4">
      <mat-label class="table-titles margin-inter">Domicilio de residencia</mat-label>
    </div>
    <div class="margin-inter">
      <app-address-section [dataAddress]="dataAddress" [hideProofOfAddressSection]="true"
        [hideRoleSection]="true"></app-address-section>
    </div>
    <div class="mt-3" style="margin-left: 1.2%; margin-right: 1.2%">

      <app-ppe-section [showCountry]="false" [dataPPE]="ppeSectionInfo" [mant]="ppeDisabledPermises"></app-ppe-section>
    </div>

    <!-- <div>
      <h5 class="form-title margin-inner">Identificación</h5>
    </div> -->
    <div>
      <app-identification-section [identificationSaved]="identificationSaved" [showInput]="true"
      [rolePermises]="identificationPermises" [showTable]="true"></app-identification-section>
    </div>
    <div class="">
      <h5 class="table-titles">Datos de contacto</h5>

      <div class="manifest form-check form-switch">
        <input
        class="form-check-input form-control"
        type="checkbox"
        id="privacidad"
        style="width: 3rem; height: 1.5rem"
        [checked]="manifestLetter()"
        [disabled]="(checkDisableManifest() && disabledML) || disabledMantML"
        (change)="checkManifestLetter($event)">
        <label class="form-check-label small" for="privacidad">
          Carta manifiesto para no compartir datos
        </label>
      </div>
      <div class="mb-4">
        <app-phone-section [disabled]="manifestLetter()" [listStorage]="phoneSaved"
        [rolePermises]="phonePermises"
        ></app-phone-section>
      </div>
      <div>
        <app-mail-section [disabled]="manifestLetter()" [mailSaved]="mailSaved"
        [rolePermises]="mailPermises"
        ></app-mail-section>
      </div>

    </div>
  </form>
  <div class="text-end mt-4">
    <button type="submit" class="bt-add-other me-3" (click)="cancel()" id="cancelCotitular">Cancelar</button>
    <button type="submit" class="bt-submit" (click)="saveCotitular()" [disabled]="this.data.readOnly" id="saveCotitular">Guardar</button>
  </div>
</div>
