.custom-padding {
    margin-top: 2%;
    padding: 1% 1% 0 1%;
}

.table-titles {
    margin-left: 0;
    padding-left: 0;
    margin-bottom: 2%;
}


.form-check-input:checked {
    background-color: #0F6FF5;
    border-color:#0F6FF5;
}

.input-field {
  max-width: 100%;
  padding-top:2rem;
  padding-bottom: 2rem;
}

.form-mat-label {
  margin-left: 15px;
  margin-top: 7px;
}
