
.icon-check {
    position: absolute;
    top: 10px;
    right: 13px;
}


.list-buttons {
  .active {
    background-color: #E7F1FE;
    color: #0F6FF5;
    box-shadow: none;
  }
}

.selected-icon {
  position: relative;
  top: -50px;
  right: -55px;
}

.form-label {
  color: #727272;
  font-size: 12px;
  font-weight: 400;
}

.card-person {

  width: 48% !important;

  .mat-mdc-card-header {
    color: #003057;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 500;
    margin: 12px 120px;

    div.card-person-title {
      font-size: 18px;
      font-weight: 600;
      line-height: 24px;
      margin: 25px 0px;
    }
  }

  .mat-mdc-card-actions {
    margin-bottom: 50px;
    margin-right: 30px;
  }
}
