<div class="custom-page">
  <div class="bg-white custom-padding">
    <app-customer-address-section *ngIf="!cargando" [dataClient]="dataClient" [dataAddress]="address" [addressClient]="true"></app-customer-address-section>
    <div class="pb-4 text-end">
      <button (click)="addAddress()" type="button" id="btnAddAddress" class="bt-submit" [disabled]="isMaintenance">
        Registrar
      </button>
    </div>
    <div>
      <div class="bg-white p-4 shadow rounded">
        <div class="div-line">
          <h5 class="table-titles">Domicilios Registrados</h5>
          @if(dataAddres.length === 0){
          <div class="empty-table">
            <mat-label>No hay registros</mat-label>
          </div>
          }
        </div>
        @if (dataAddres.length > 0) {
        <div class="wrapper-table">
          <app-customer-table-results [data]="dataAddres" [columns]="columns" [config]="config" (rowSelect)="rowSelected($event)"
            (eventRow)="eventRow($event)" (eventPage)="eventPage($event)"></app-customer-table-results>
        </div>
        }
      </div>
    </div>
    <div class="text-end mt-4 mb-2">
      @if(isMaintenance){
      <button
        matButton
        class="bt-submit"
        (click)="editt()"
        id="btnEdit"
        type="button"
        [disabled]="isMaintenanceEdit()"
      >
        Editar
      </button>
      }
    </div>
    <div class="text-end">
      @if(isMaintenance){
      <button
        matButton
        class="bt-submit"
        (click)="cancel()"
        id="btnCancel"
        type="button"
        [disabled]="isMaintenance"
      >
        Cancelar
      </button>
      }
      <button matButton class="bt-submit" [disabled]="isMaintenance" id="btnSaveAddress" (click)="save()">
        Guardar
      </button>
    </div>
  </div>
</div>
