.input-field{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.margin-custom {
  margin-left: 2%;
  margin-right: 2%;
}

.field-long {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 618px;
  color: #727272;
  font-size: 12px;
  font-weight: 400;
}
