<div class="container-fluid">
  <div class="section custom-page">
    <div class="main-wrap">
      <img src="assets/images/logo-actinver.png" alt="error-access" />

      <div class="text" [hidden]="loading">
        <p class="title">Error de Acceso</p>

        <p class="subtitle">Tu cuenta no tiene roles o permisos asignados.</p>

        <p class="suggestion"></p>
      </div>

      <div>
        <button class="input bt-submit" [hidden]="loading">Aceptar</button>
      </div>
    </div>
  </div>
</div>
