<div class="custom-page">
  <div class="bg-white custom-padding">
    <app-address-component-pm
      [dataAddress]="address"
      [addressClient]="true"
    ></app-address-component-pm>
    <div class="pb-4 pt-4 text-end">
      <button
        matButton="filled"
        (click)="addAddress()"
        type="button"
        class="bt-submit"
        id="btnAddAddress"
      >
        + Agregar Domicilio
      </button>
    </div>
    <div>
      <div class="bg-white p-4 shadow rounded">
        <div class="div-line">
          <div>
            <h5 class="table-titles">Domicilios Registrados</h5>
          </div>
          @if(dataAddres.length === 0){
          <div class="empty-table">
            <mat-label>No hay registros</mat-label>
          </div>
          }
        </div>
        @if (dataAddres.length > 0) {
        <div>
          <app-table-results
            [data]="dataAddres"
            [columns]="columns"
            [config]="config"
            (rowSelect)="rowSelected($event)"
            (eventRow)="eventRow($event)"
            (eventPage)="eventPage($event)"
          ></app-table-results>
        </div>
        }
      </div>
    </div>
    <div class="text-end mt-4 mb-2">
      @if(isMaintenance){
      <button
        matButton
        class="bt-submit"
        (click)="editt()"
        id="btnEdit"
        type="button"
        [disabled]="isMaintenanceE()"
      >
        Editar
      </button>
      }
    </div>
    <div class="text-end">
      @if(isMaintenance){
      <button
        matButton
        class="bt-submit"
        (click)="cancel()"
        id="btnCancel"
        type="button"
        [disabled]="isMaintenance"
      >
        Cancelar
      </button>
      }
      <button
        matButton
        class="bt-submit"
        [disabled]="isMaintenance"
        id="btnSaveAddress"
        (click)="save()"
      >
        Guardar
      </button>
    </div>
  </div>
</div>
